/**
 * @Author: memo
 * @Date:   2020-10-22T16:21:58-05:00
 * @Last modified by:   memo
 * @Last modified time: 2020-11-02T23:49:31-06:00
 */



@charset "utf-8";
/* CSS Document */

.fecha {
    font-size: 2.2em;
    font-family: verdana;
    text-align: center;
    color: #6470cb;
    margin-left: 0px;
	line-height: 0px;
}
.contenedor {
display: table-cell;
vertical-align: middle;
text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
padding-bottom: 50px;
}
.contenido {
	display: inline-block;
    text-align: left;
	width: 75%;
	background-color: #ffffff;
	padding-bottom: 20px;
}
.contenedorbody{
padding-top: 0px !important;
padding-right: 35px !important;
padding-bottom: 16px !important;
padding-left: 35px !important;
}

.countdownx {
    font-size: 29px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 11px;
    padding-top: 20px;
    color: #ffffff;
    font-family: verdana;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(7 0 122) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.columnleft {
	float: left;
	width: 49%;
	padding-right: 10px;
}

.columnright {
float: left;
	width: 49%;
	padding-top: 20px;
	padding-bottom: 20px;

}
.cajaformulario {
    border: solid;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #007dbc;
    background-color: #f2f2f2;
	font-size: 1.1em;
	font-weight: 600;
	border-width: thin;
}
.titulo1 {
	font-size: 1.8em;
	font-weight: bold;
	column-span:all;
	padding-right: 20px;
	line-height: 30px;

}
.titulo2 {
	font-size: 17px;
    text-align: left;
    font-family: Open Sans;
    font-weight: 600;
    font-style: normal;
	column-span:all;
	color: #515151;
}
.destacado {
	color: #005DC7;
	font-size: 22px;
}
.destacado2 {
	color:#444444;
	font-size: 21px;
}
.input {
	width: 100%;
}
.campo {
    width: 100%;
    border-radius: 7px;
    min-height: 33px;
    border: solid;
	margin-bottom: 12px;
	margin-top: 0px;
	border-width: thin;
	border-color: #CECECE;
}
input[type="submit"] {
    width: 100%;
    margin-bottom: 20px;
    background-color: #005dc7;
    color: #ffffff;
    font-size: 25px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}
@media only screen and (max-width: 900px) {
	.columnleft {
	float: left;
	width: 100%;
	padding-right: 10px;
}

.columnright {
float: left;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;

}
	.contenido {
	display: inline-block;
    text-align: left;
	width: 100%;
	background-color: #ffffff;
}
	.titulo1 {
	font-size: 1.8em;
	font-weight: bold;
	column-span:all;
	padding-right: 0px;
}
}


.buttonSubmit{
  visibility: hidden;
}
