/**
 * @Author: memo
 * @Date:   2020-10-18T16:25:33-05:00
// @Last modified by:   memo
// @Last modified time: 2020-11-01T13:17:34-06:00
 */

 @import "./../../styles/base.scss";

 .p-relative{
  position:relative;
}
.expand{
  width:100%;
  height: 100%;
}
.center-flex{
  justify-content: center;
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.opacity-75{
  opacity: 0.7;
}
.tipografia-bold{
  font-family:$bold;
}
.tipografia-light{
  font-family:$light;
}
 .page-content-award{
   align-items: center;
   flex-direction: column;
   align-items: center;
   align-content: center;
   margin-top: 15%;
   color:transparent
 }


 .rootDiv-award {
     display: flex;
     align-items: center;
     width: 80%
 }
 .page-mobile-content-award{
   display: flex;
   align-items: row;
   flex-direction: column;
   align-content: center;
   color:white;
   // margin-top: 50rem;
   width: 100%;
   // background-color: yellow;

 }



 .score-award {
   height: 4rem;
   margin-top: 1rem;
   color: $hoverBlue;
   background-color: #ffffff;
   border-color: #ffffff;
   border-radius: 10px;
   width: 70%;
   font-size: 16px;
   font-family: $code;
   transition: all 0.25s ease 0s;
 }

.mainWrapperAward{
  display: flex;
  // flex-grow: row;
  // background-color: $green;

}

.awardLeft{
  flex:1;
  text-align: justify;
  align-items: center;
  align-self:center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  // background-color: $yellow;

}

.awardRight{
  flex:1;
  flex-direction: row;
  align-items: center;
  align-self:center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color: $gray;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 100%;

}

.awardNull{
  color: #000; /* Fallback for older browsers */
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  padding: 1rem;
}

// ---
.mainAwardLayout{

  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
    );
    height: 100vh;

    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 768px) {
    .mainAwardLayout{
      background: none;
      margin-top:5%;
      border-radius: 20pt;
      padding: 10%;

  }
}

 .send-button-award {
   margin-top: 1rem;
   color: #ffffff;
   background-color: $loginButton;
   border-color: $loginButton;
   border-radius: 7pt;
   width: 80%;
   padding: 0.8em 0;
   font-size: 1rem;
   font-family: $code;
   transition: all 0.25s ease 0s;
   
   &:hover {
     background-color: $hoverBlue;
     border-color: $hoverBlue;
     transform: translateY(-2.5px);
     cursor: pointer;
     transition: all 0.25s ease 0s;
    };
    @media (min-width: 768px) {
      width: 35%;
      padding:0.5rem 0;
       font-size: 1em;
   }
 }
  // ---

//AWARD SUCCESS
.flex{
  display:flex;
}

.text-small{
  color:rgba(255,255,255,0.8);
  font-size: 0.7rem;
}
.mt-1{
  margin-top: 1rem;
}


//AWARD SUCCESS

  
.margin-web{
  margin-top: 0rem;
}


.text-award{
  font-size: 1rem;
  @media (max-width: 768px) {
      font-size: .8rem;
  };
  padding: 1rem;
}

.hrstyled{
    height: 2px;
  background: rgb(0, 118, 206);
  margin: 0.5em 0;
  padding: 0 3rem;
  background: linear-gradient(
    90deg,
    rgba(0, 118, 206, 1) 0%,
    rgba(200, 200, 221, 1) 20%,
    rgba(0, 118, 206, 1) 100%
  );
animation-name: franja;
  animation-duration: 4s;
}

@keframes franja{
  0%{
    background: linear-gradient(
    90deg,
    rgba(0, 118, 206, 1) 0%,
    rgba(200, 200, 221, 1) 50%,
    rgba(0, 118, 206, 1) 100%
    );
  }
  50%{
background: linear-gradient(
    90deg,
    rgba(0, 118, 206, 1) 0%,
    rgba(200, 200, 221, 1) 80%,
    rgba(0, 118, 206, 1) 100%
  );
  }
  100%{
background: linear-gradient(
    90deg,
    rgba(0, 118, 206, 1) 0%,
    rgba(200, 200, 221, 1) 50%,
    rgba(0, 118, 206, 1) 100%
  );
  }
}
