// @Author: memo
// @Date:   2020-10-04T21:15:10-05:00
// @Last modified by:   memo
// @Last modified time: 2020-11-18T11:37:03-06:00
@import "./../../styles/base.scss";

.rootDivScheduler{
  display: flex;
  align-items: center;
  width: 70%
}

.rootDivScheduler-confirm{
  display: flex;
  align-items: center;
  width: 100%
}

.page-content-scheduler{
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  // height: 2000px;
  margin-top: 15%;
  // padding: 5%;
  color:transparent;
}

.formatWidth{
    width: 70%;
    justify-content: center;
    align-self: center;
}

.mobile-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 30%;
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;

  @media (max-width: 768px) {
      width: 90%;
  }
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.mainWrapperLayoutScheduler{
  padding: 5%;
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color:white;
  font-size: 1.5rem;
}

.mainWrapperLayoutScheduler-confirm{
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;
  color: white;
  height: 100%;
  padding: 3rem;
}

.mainWrapperScheduler{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  // background-color: magenta;
}
.schedulerTitle{
  color: white;
  font-family: $bold;
  margin-bottom: 2rem;
  font-size: 2rem;
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
}

.fontPhantom{
  color:transparent
}

.wrapperScheduler{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  // background-color: red;
}

.wrapperSchedulerDate01{
  display: flex;
  flex-direction: column;
  // background-color: yellow;
  margin-top: -4rem;
}

.wrapperSchedulerDate02{
  display: flex;
  flex-direction: row;
  // background-color: $green;
  margin-left: 2rem;
  // align-items: center
}

.dateInput{
  background-color: $loginButton;
  //border-radius: .5rem;
  border-color: $loginButton;
  color:white;
  height: 2rem;
  // border-left: .5rem;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  // width: 100%;
}

.dateInput-mobile{
  background-color: $loginButton;
  //border-radius: .5rem;
  border-color: $loginButton;
  color:white;
  height: 2rem;
  // border-left: .5rem;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  color:$black
  // width: 100%;
}


.dateInput2{
  background-color: $loginButton;
  //border-radius: .5rem;
  border-color: $loginButton;
  color:white;
  height: 2rem;
  // border-left: .5rem;
  border-top-right-radius:  .5rem;
  border-bottom-right-radius: .5rem;
}

.dateInput2-mobile{
  background-color: $loginButton;
  //border-radius: .5rem;
  border-color: $loginButton;
  color:white;
  height: 2rem;
  // border-left: .5rem;
  border-top-right-radius:  .5rem;
  border-bottom-right-radius: .5rem;
  color:$black
}


.send-button {
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 70%;
  font-size: 16px;
  font-family: $code;
  transition: all 0.25s ease 0s;

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}

.dialog001{
  // padding: 2rem;
  margin: 0rem;
  color:white;
  font-size: 1.1rem;
  text-align:left;
  font-family: $light;
  margin-top: 2rem;
  margin-bottom: 1rem;
  // margin-right: 2rem;
  @media (max-width: 768px) {
    font-size: .8rem;
    margin: .1rem;
    text-align: center;
  };

}

.inputsDate{
  margin-top: 1rem;
  margin-right: 2rem;
  // background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.space{
  width: 100px;
  top:100px;
}

.confirm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
     font-size: .7rem;
     justify-content: center;
  }
}

.commentInput{
   width: 5rem;
   @media (max-width: 768px) {
      width: 1rem;
   }
}

.commentContainer{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.scheduler-button {
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 80%;
  font-size: 16px;
  font-family: $code;
  transition: all 0.25s ease 0s;

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}

.confirmTxt{
  font-size:1.5rem;
  font-family: $light;
  margin-bottom: 1rem;
}

.fixImageConfirm{
  margin-bottom: 1rem;
}

.custom-input-date{
  cursor: pointer;
  padding: 5px 15px;
  border: 0;
  background-color: $loginButton;
  border-color: $loginButton;
  font: $light;
  color: #fff;
  width: 6rem;
  height: 1.5rem;
  font-size: .7rem;
  font-family: $light;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.custom-input-time{
  cursor: pointer;
  padding: 5px 15px;
  border: 0;
  background-color: $loginButton;
  border-color: $loginButton;
  font: $light;
  color: #fff;
  margin-left: 0.1rem;
  width: 5rem;
  height: 1.5rem;
  font-size: .7rem;
  font-family: $light;
  border-top-right-radius:  .5rem;
  border-bottom-right-radius: .5rem;
}


.row-datepicker-safari{
  display: flex;
  justify-content: center;
  align-items: center;
}
