// @Author: memo
// @Date:   2020-10-08T00:52:30-05:00
// @Last modified by:   memo
// @Last modified time: 2020-10-27T09:39:44-06:00



@import "./../../styles/base.scss";

.mainBoxPlay{
  display: flex;
  flex-direction: column;
  padding: 5%;
  color:#ecf0f1;
  // background-color: $red
}


.mainQuizz{
  display: flex;
  height: 2000px;
  width: 1200px;
  background-color: $red;
  @media (max-width: 768px) {
      width: 768px;
      background-color: #00ffff
  }
}

.game{
  align-items: center;
  width: '100%';
  height: '100%';
}

.page-content-mobile-practice{
  margin-top: 15rem;
  position: relative;
}
