// @Author: memo
// @Date:   2020-10-04T23:23:44-05:00
// @Last modified by:   memo
// @Last modified time: 2020-11-24T00:08:19-06:00



@import "./../../styles/base.scss";

.mainBoxAvatar{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: transparent;
  background-image: url('/images/back.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 130%;
  // color:$loginBlue;
  background-color: transparent;
  // width: 1000px;
  @media (min-width: 768px) {
      width: 100%;
      min-height: 100%;
      // height: 20%;
    }
}
.avatar-combobox{
  align-self: center;
  font-size: 1rem;
  font-family: 'Roboto-Regular';
  font-size: 1.5rem;
  color: $black
}

.profileData{
    display: -webkit-flex;
    -webkit-justify-content:flex-start;
  display: flex;
  flex-direction:column;
  margin-left: 1rem;
  align-items: flex-start;
  text-align:left;
  // background-color: red;
}
.profileDataMobile{
  display: flex;
  flex-direction:row;
  margin-left: 1rem;
}

.inputProfileModile{
  margin:1rem;
  font-size: 1rem;
  align-self: center;
  font-family: $light;
}

.wrapperRight{
  display: flex;
  flex:1;
  // background-color: $yellow;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 2rem;
}

.wrapperRightWeb{
  display: flex;
  flex: 0.4;
  // background-color: $yellow;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  // height: 30%;
}

.wrapperLeftWeb{
    display: -webkit-flex;
    -webkit-justify-content:flex-start;
    flex:.8;
    display: flex;
    align-items:flex-start;
    padding-right: 2rem;
    left:0;
    // background-color: green
}

.wrapperWeb{
  display: flex;
  flex-direction:column;
  flex:1;
  // background-color: $yellow;
  align-items: center;
  justify-content: center;
  width: 100%;
  top:5rem;
}

.fixAvatar{
    // margin-left: 1rem;
    margin-bottom: 4rem;
}

.wrapperLeft{
  // display: flex;
  // flex:1;
  // background-color: green;
  align-items: center;
  // margin-left: 2rem;
}

.mainLayoutAvatar{
  display: -webkit-flex;
  -webkit-justify-content:flex-start;

  // display: flex;
  // flex-direction: column;
  // background-color: red;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
      flex-direction: row;
  }

}

.points-button {
  height: 40px;
  margin-top: 1rem;
  color: $primaryBlue;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  width: 40%;
  font-size: .8rem;
  font-family: $code;
  transition: all 0.25s ease 0s;

  // &:hover {
  //   background-color: $hoverBlue;
  //   border-color: $hoverBlue;
  //   transform: translateY(-2.5px);
  //   cursor: pointer;
  //   transition: all 0.25s ease 0s;
  // }
}

.fixWidht{
    width: 10rem;
}

.font-edit-button{
    font-size: .7rem;
}

.edit-button {
  display: flex;
  height: 2rem;
  color: white;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 8rem;
  font-size: .7rem;
  font-family: $code;
  transition: all 0.25s ease 0s;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &:hover {
    background-color: white;
    border-color: white;
    color: $primaryBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}

.fix-edit-button-mobile{
  margin-top: 1rem;
}

.fix-edit-button-save-mobile{
  width: 100%
}

.cancel-button {
  display: flex;
  height: 2rem;
  color: white;
  background-color: $gray3;
  border-color: $gray3;
  border-radius: 10px;
  width: 8rem;
  font-size: .8rem;
  font-family: $code;
  transition: all 0.25s ease 0s;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &:hover {
    background-color: white;
    border-color: white;
    color: $primaryBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}


.nameProfile{
  display: flex;
  font-family: "Roboto"
}

.inputProfile{
  margin-bottom: .5rem;
  margin-right: 2rem;
  font-size: 1rem;
  font-family: $light;
  // background-color: green;
}

.fixInputProfile{
  margin-bottom: .5rem;
  font-size: 1rem;
  // background-color: green;
}

.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  // margin-right: -15px;
  // margin-left: -15px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-horizontal{
  box-sizing: border-box;
  // font-weight: 400;
  // line-height: 1rem;
  color: #212529;
  text-align: center;
}

.col-sm-9 {
    // -ms-flex: 0 0 75%;
    // flex: 0 0 75%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}


.avatarMainBox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex-direction: column;
}



@charset "UTF-8";

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centrar contenedor vertical y horizontalmente */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
}

/* Estilos del contenedor */
.container {
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  width: 80%;
  height: 300px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: #333;
  font-family: sans-serif;
  text-align: justify;
  line-height: 1.3;
  overflow: auto;
  @media (min-width: 768px) {
      min-height: 200px;
      // height: 20%;
    }
}

.container p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Tamaño del scroll */
.container::-webkit-scrollbar {
  width: 8px;
}

 /* Estilos barra (thumb) de scroll */
.container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.container::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}


.buttonCreateAvatar{
  font-size: 1rem;
  display: flex;
  color:white;
  width: 15rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  // background-color: red;
}


.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 100px;
  font-size: 12px;
  font-family: $light;
  transition: all 0.25s ease 0s;
  &:hover {
    background-color: white;
    border-color: white;
    color:$hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }


  @media (min-width: 768px) {
    width: 5rem;
  }

}

.fix-create-button{
  position: relative;
  bottom: 5rem;
  width: 120px;
  height: 1.8rem;
}

.save-button{
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  font-size: 16px;
  font-family: $code;
  transition: all 0.25s ease 0s;

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}



.title-avatar{
  margin-left: 1rem;

  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: $bold;
}


// .mainWrapperLayoutAvatar{
//   padding: 10%;
//   background: linear-gradient(
//     to bottom,
//     $loginBlue,
//     $fadeLower
//   );
//   border-radius: 25px;
//   display: flex;
//   align-items: center;
//   // flex-wrap: nowrap;
//   flex-direction: column;
//   color:white;
//   font-size: 1.5rem;
//   width: 80%;
//
//   @media (min-width: 768px) {
//     width: 50%;
//   }
//
// }


.page-content-avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  // height: 2000px;
  // margin-top: ;
  // padding: 5%;
  color:transparent;
}


.mainWrapperLayoutAvatar{
  padding: 0%;
  // padding-top: 4%;
  // padding-bottom: 4%;
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color:white;
  font-size: 1.5rem;
  width: 100%;
  height: 50%;
  @media (min-width: 768px) {
    width: 80%;
  }
}


.mainWrapperLayoutAvatarWeb{
  padding: 5%;
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color:white;
  font-size: 1.5rem;
  width: 80%;
  height: 80%;
}

.mainWrapperLayoutAvatar-mobile{
  padding: 5%;
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  // border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color:white;
  font-size: 1.5rem;
  width: 98%;
  height: 98%;
}



.avatarNavBar{
  width: 10%;
  margin-bottom: .5rem;
}

.avatarTextField{
  border-radius:.5rem;
  margin-left: .25rem;
  // margin-right: .5rem;
  height: 2rem;
  width: 100%;
}

.avatarTextField-mobile{
  border-radius:.25rem;
  // margin-left: .25rem;
  // margin-right: .5rem;
  height: 2rem;
  width: 100%;
}


.titleWebAvatar{
  display: -webkit-flex;
  -webkit-justify-content:flex-start;
  font-size: 1.5rem;
  font-family: $bold;
  align-self: flex-start;
}

.fixInputAvatarName{
  margin-top: .5rem;
}

.rowButtonsEditionAvatar{
  display: flex;
}

.fixEditInputs{
  flex-direction: row;
  align-items: flex-start;
}

.create-button-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 100px;
  font-size: 12px;
  font-family: $light;
  transition: all 0.25s ease 0s;
  &:hover {
    background-color: white;
    border-color: white;
    color:$hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }


  @media (min-width: 768px) {
    width: 5rem;
  }

}

.fix-avatar-mobile{
    // width: 1rem;
    justify-content: center;
    align-self:center;
    display: flex;
    flex-direction: row;
    // background-color: yellow;
    // height: 40%;
    // flex:0.5
}

.title-avatar-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: $bold;
  // background-color: 'red';
  textAlign:center;
  margin-top: 1rem;
}


.wrapper-mobile{
  display: flex;
  flex-direction:column;
  flex:1;
  // background-color: $yellow;
  align-items: center;
  justify-content: center;
  width: 100%;
  top:5rem;
  position:relative;
}

.fix-avatar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divs-row-mobile{
  margin-top: 1rem;
  font-size: 1rem;
  font-family: $light;
}

.div-edition-name{
  display: flex;
  // background-color: red;
  width: 100%
}

.div-edition-name-left{
  flex:1;
}

.div-edition-name-right{
  display: flex;
  flex:2.5;
  flex-direction: column;
}

.edit-button-zone{
  display: flex;
  margin-top: 1.2rem;
  justify-content: center;
  align-items: center;
  // background-color: yellow;
  text-align: center;
}

.zone-save{
  flex:1
}

.edit-button-mobile-save {
  display: flex;
  color: white;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  font-family: $light;
  transition: all 0.25s ease 0s;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  // margin: 0.3rem;

  &:hover {
    background-color: white;
    border-color: white;
    color: $primaryBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}

.cancel-button-mobile {
  display: flex;
  color: white;
  background-color: $gray3;
  border-color: $gray3;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  font-family: $light;
  transition: all 0.25s ease 0s;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  // margin: 0.3rem;

  &:hover {
    background-color: white;
    border-color: white;
    color: $primaryBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}


.zone-space{
  flex:0.05
}
