@charset "UTF-8";
@font-face {
  font-family: 'Replica';
  src: url("/fonts/ReplicaStdRegular.otf") format("opentype"); }

@font-face {
  font-family: 'ReplicaStdBold';
  src: url("/fonts/ReplicaStdBold.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Regular") url("/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: local("Roboto-Bold"), url("/fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-LightItalic';
  src: local("Roboto-LightItalic"), url("/fonts/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Light';
  src: local("Roboto-Light"), url("/fonts/Roboto-Light.ttf") format("truetype"); }

span.required {
  color: red;
  font-size: 1.1rem; }

body, html {
  font-family: "Roboto-Light", monospace;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  background-image: url("/images/back.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto'; }

.header-card {
  background: #2c3e50;
  border-radius: 14px;
  align-items: center;
  width: 50%;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-bottom: 2%;
  font-weight: bold; }

.header-card-activities {
  background: #2c3e50;
  border-radius: 14px;
  align-items: center;
  width: 80%;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-bottom: 2%; }

.header-card-text {
  align-self: ¡lex-start;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #fff; }

.box {
  width: 50%;
  height: 250px;
  background-color: #2c3e50;
  justify-content: center; }

.box-image-circular {
  width: 50%;
  height: 250px;
  background-color: #2c3e50;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 5%; }

.image-circular {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: #C8C9C7; }

.image-circular-min {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: #C8C9C7; }

.main-content {
  width: auto;
  background-color: transparent;
  font-weight: bold; }

.react-bootstrap-table-page-btns-ul {
  font-family: Roboto;
  font-size: 10px; }

.sign-out {
  font-family: 'Roboto'; }

.title-table {
  font-size: 1.52rem;
  font-family: "Roboto", monospace;
  background-color: #0071C3;
  color: #fff; }

.width-table {
  width: 30%;
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start; }

.custom-row-table {
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start; }

.width-table {
  width: 10; }

.button-blue-welcome {
  background-color: #0076CE;
  color: #fff;
  border-radius: 15px; }

.blink_me {
  animation: blinker 3s linear infinite;
  color: #2ecc71;
  font-size: 2.25rem;
  font-family: "Roboto", monospace; }

.success {
  margin-top: 0.5rem;
  color: #2ecc71;
  font-family: "Roboto", monospace;
  font-size: 1.8rem; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fffbe3; }

body {
  font-family: 'Roboto'; }

* {
  box-sizing: border-box; }

input {
  background-color: #fff; }

input:invalid:required {
  background-color: #FFC220; }

input:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% #FFC220;
  background-size: 18px;
  background-color: #C8C9C7; }

input:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

input:invalid {
  background-color: #FFC220; }

textarea::required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

textarea:invalid {
  background-color: #FFC220; }

textarea:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

textarea:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% #FFC220;
  background-size: 18px; }

input:required:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/ok.svg") no-repeat 95% 50% #FFC220;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-color: #C8C9C7;
  text-align: center; }

textarea:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% #FFC220;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-color: #C8C9C7;
  text-align: center;
  border-radius: .5rem; }

.comboValid {
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem; }

.comboInvalid {
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem; }

iframe {
  background: #000;
  border: none;
  /* Reset default border */
  height: 90vh;
  /* Viewport-relative units */
  width: 90vw; }

.avatarItem {
  display: flex;
  width: 13rem; }
  @media (min-width: 768px) {
    .avatarItem {
      margin-left: 0rem; } }

.avatarItemFixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem; }
  @media (min-width: 768px) {
    .avatarItemFixed {
      margin-left: 0rem; } }

.avatarBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  width: 10%; }

.leftBox {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center; }

.leftBoxMobile {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center; }

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", monospace;
  text-align: center; }
  .mainBox a {
    width: 100px;
    padding: 1rem;
    color: #fff;
    background: #fc466b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f5efb, #fc466b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0.5rem;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0);
    transition: all 0.25s ease 0s; }
    .mainBox a:hover {
      opacity: 0.9;
      transition: all 0.25s ease 0s;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }

@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-10px); }
  100% {
    transform: translatey(0px); } }
  .mainBox p:nth-of-type(2) {
    font-size: 12px; }

.input-error {
  margin-top: 0.5rem;
  color: #E5162F;
  font-family: "Roboto", monospace;
  font-size: 14px; }

.page-content {
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  color: transparent; }

.page-mobile-content {
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  padding: 5%;
  color: #C8C9C7; }

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }

.button-blue {
  margin-top: 1rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  text-align: justify;
  font-size: 0.75rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem .button-blue; }
  .button-blue :hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.mainWrapperLayout {
  padding: 10%;
  background: linear-gradient(to bottom, #0076CE, #00447C);
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: white;
  font-size: 1.5rem; }

.mainWrapperMobileLayout {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; }
  @media (min-width: 768px) {
    .mainWrapperMobileLayout {
      min-height: 700px;
      height: 100%; } }

.dashboardButton {
  left: -10px; }

.imageDell {
  width: 40%; }

.imageDell img2 {
  width: 100%;
  background-color: #00FF00; }

.imageVmware {
  width: 30%; }

.imgDell {
  width: 100%; }

.itemMenu {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: .5rem; }

.mainBoxAvatar {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: transparent;
  background-image: url("/images/back.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 130%;
  background-color: transparent; }
  @media (min-width: 768px) {
    .mainBoxAvatar {
      width: 100%;
      min-height: 100%; } }

.avatar-combobox {
  align-self: center;
  font-size: 1rem;
  font-family: 'Roboto-Regular';
  font-size: 1.5rem;
  color: #041E42; }

.profileData {
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: flex-start;
  text-align: left; }

.profileDataMobile {
  display: flex;
  flex-direction: row;
  margin-left: 1rem; }

.inputProfileModile {
  margin: 1rem;
  font-size: 1rem;
  align-self: center;
  font-family: "Roboto-Light", monospace; }

.wrapperRight {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 2rem; }

.wrapperRightWeb {
  display: flex;
  flex: 0.4;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem; }

.wrapperLeftWeb {
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  flex: .8;
  display: flex;
  align-items: flex-start;
  padding-right: 2rem;
  left: 0; }

.wrapperWeb {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 5rem; }

.fixAvatar {
  margin-bottom: 4rem; }

.wrapperLeft {
  align-items: center; }

.mainLayoutAvatar {
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .mainLayoutAvatar {
      flex-direction: row; } }

.points-button {
  height: 40px;
  margin-top: 1rem;
  color: #0071C3;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  width: 40%;
  font-size: .8rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s; }

.fixWidht {
  width: 10rem; }

.font-edit-button {
  font-size: .7rem; }

.edit-button {
  display: flex;
  height: 2rem;
  color: white;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  width: 8rem;
  font-size: .7rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  .edit-button:hover {
    background-color: white;
    border-color: white;
    color: #0071C3;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.fix-edit-button-mobile {
  margin-top: 1rem; }

.fix-edit-button-save-mobile {
  width: 100%; }

.cancel-button {
  display: flex;
  height: 2rem;
  color: white;
  background-color: #87857f;
  border-color: #87857f;
  border-radius: 10px;
  width: 8rem;
  font-size: .8rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  .cancel-button:hover {
    background-color: white;
    border-color: white;
    color: #0071C3;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.nameProfile {
  display: flex;
  font-family: "Roboto"; }

.inputProfile {
  margin-bottom: .5rem;
  margin-right: 2rem;
  font-size: 1rem;
  font-family: "Roboto-Light", monospace; }

.fixInputProfile {
  margin-bottom: .5rem;
  font-size: 1rem; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.form-group {
  margin-bottom: 1rem; }

.form-horizontal {
  box-sizing: border-box;
  color: #212529;
  text-align: center; }

.col-sm-9 {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box; }

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px); }

.avatarMainBox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  flex-direction: column; }

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Centrar contenedor vertical y horizontalmente */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2; }

/* Estilos del contenedor */
.container {
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  width: 80%;
  height: 300px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: #333;
  font-family: sans-serif;
  text-align: justify;
  line-height: 1.3;
  overflow: auto; }
  @media (min-width: 768px) {
    .container {
      min-height: 200px; } }

.container p:not(:last-child) {
  margin-bottom: 1rem; }

/* Tamaño del scroll */
.container::-webkit-scrollbar {
  width: 8px; }

/* Estilos barra (thumb) de scroll */
.container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px; }

.container::-webkit-scrollbar-thumb:active {
  background-color: #999999; }

.container::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); }

/* Estilos track de scroll */
.container::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px; }

.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
  background: #d4d4d4; }

.buttonCreateAvatar {
  font-size: 1rem;
  display: flex;
  color: white;
  width: 15rem;
  align-items: center;
  justify-content: center;
  text-align: center; }

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  width: 100px;
  font-size: 12px;
  font-family: "Roboto-Light", monospace;
  transition: all 0.25s ease 0s; }
  .create-button:hover {
    background-color: white;
    border-color: white;
    color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }
  @media (min-width: 768px) {
    .create-button {
      width: 5rem; } }

.fix-create-button {
  position: relative;
  bottom: 5rem;
  width: 120px;
  height: 1.8rem; }

.save-button {
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  font-size: 16px;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s; }
  .save-button:hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.title-avatar {
  margin-left: 1rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Roboto-Bold", monospace; }

.page-content-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: transparent; }

.mainWrapperLayoutAvatar {
  padding: 0%;
  background: linear-gradient(to bottom, #0076CE, #00447C);
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  height: 50%; }
  @media (min-width: 768px) {
    .mainWrapperLayoutAvatar {
      width: 80%; } }

.mainWrapperLayoutAvatarWeb {
  padding: 5%;
  background: linear-gradient(to bottom, #0076CE, #00447C);
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  width: 80%;
  height: 80%; }

.mainWrapperLayoutAvatar-mobile {
  padding: 5%;
  background: linear-gradient(to bottom, #0076CE, #00447C);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  width: 98%;
  height: 98%; }

.avatarNavBar {
  width: 10%;
  margin-bottom: .5rem; }

.avatarTextField {
  border-radius: .5rem;
  margin-left: .25rem;
  height: 2rem;
  width: 100%; }

.avatarTextField-mobile {
  border-radius: .25rem;
  height: 2rem;
  width: 100%; }

.titleWebAvatar {
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  font-size: 1.5rem;
  font-family: "Roboto-Bold", monospace;
  align-self: flex-start; }

.fixInputAvatarName {
  margin-top: .5rem; }

.rowButtonsEditionAvatar {
  display: flex; }

.fixEditInputs {
  flex-direction: row;
  align-items: flex-start; }

.create-button-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  width: 100px;
  font-size: 12px;
  font-family: "Roboto-Light", monospace;
  transition: all 0.25s ease 0s; }
  .create-button-mobile:hover {
    background-color: white;
    border-color: white;
    color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }
  @media (min-width: 768px) {
    .create-button-mobile {
      width: 5rem; } }

.fix-avatar-mobile {
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: row; }

.title-avatar-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Roboto-Bold", monospace;
  textAlign: center;
  margin-top: 1rem; }

.wrapper-mobile {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 5rem;
  position: relative; }

.fix-avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.divs-row-mobile {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Roboto-Light", monospace; }

.div-edition-name {
  display: flex;
  width: 100%; }

.div-edition-name-left {
  flex: 1; }

.div-edition-name-right {
  display: flex;
  flex: 2.5;
  flex-direction: column; }

.edit-button-zone {
  display: flex;
  margin-top: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: center; }

.zone-save {
  flex: 1; }

.edit-button-mobile-save {
  display: flex;
  color: white;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  font-family: "Roboto-Light", monospace;
  transition: all 0.25s ease 0s;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center; }
  .edit-button-mobile-save:hover {
    background-color: white;
    border-color: white;
    color: #0071C3;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.cancel-button-mobile {
  display: flex;
  color: white;
  background-color: #87857f;
  border-color: #87857f;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  font-family: "Roboto-Light", monospace;
  transition: all 0.25s ease 0s;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center; }
  .cancel-button-mobile:hover {
    background-color: white;
    border-color: white;
    color: #0071C3;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.zone-space {
  flex: 0.05; }
