// @Author: memo
// @Date:   2020-11-01T14:06:25-06:00
// @Last modified by:   memo
// @Last modified time: 2020-11-22T21:16:06-06:00
@import "./../../styles/base.scss";


.page-content-video{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  // height: auto;
  // margin-top: ;
  // padding: 5%;
  color:transparent;
}
.fix-page-content-video-mobile{
  position: absolute;
  top: 5rem;
  left:1rem;
  height: auto;
}

.mainWrapperLayoutVideo-mobile{
  padding:5%;
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color:white;
  font-size: 1.5rem;
  width: 40%;
  height: 60%;
  margin-top: 10rem;
}

.mainWrapperLayoutVideo{
  padding: 5%;
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color:white;
  font-size: 1.5rem;
  width: 40%;
  height: 60%;
  margin-top: 10rem;
  @media (min-width: 768px) {
    margin-top: 1rem;
  }
}

.video-mobile{
  width: 95%;
  height: 80%;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.mainWrapperLayoutVideoWeb{
  padding: 5%;
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color:white;
  font-size: 1.5rem;
  width: 80%;
  height: 80%;
}

.wrapperVideoWeb{
  display: flex;
  flex-direction:column;
  flex:1;
  background-color: $yellow;
  align-items: center;
  justify-content: center;
  width: 100%
}
.rightVideo{
  padding: 1rem;
  margin-left: 1rem;
  // margin-bottom: 1.5rem;
    // background-color: yellow;
    justify-content: flex-start;
    font-family: $light;
}

.rightVideo-mobile-title{
  padding-left: 1rem;

    margin-left: 1rem;
      font-family: $light;
}

.rightVideo-mobile{
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
    // background-color: red;
    justify-content: flex-start;
    font-family: $light;

}


.videoButtons{
  margin-top: 1rem;
  display: flex;
  // background-color: red;
  width: 20rem;
  justify-content:space-around;
}

.videoButtons-powerstore{
  margin-top: 1rem;
  display: flex;
  // background-color: red;
  width: 40rem;
  justify-content:space-around;
}

.videoButton{
  background-color: $gray;
  border-radius: 1rem;
  color:$darkGray;
  padding: .8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: .8rem;
  // width: 10rem;
}

.videoButton-activated{
  background-color: $loginButton;
  border-radius: 1rem;
  color:white;
  padding: .8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
  font-size: .8rem;
  // width: 10rem;
}

.buttonVideoPowerstore{
  display: flex;
  margin-top: 1rem;
}


.text-video-mobile{
  font-size: .9rem;
  margin-top:2rem;
}

.text-video{
  font-size: 1.3rem;
  margin-top:2rem;
}

.fix-text-video{
  margin-top: -1rem;
  // margin-left: 1.5rem;
}

.welcomeName{
  left: 0px;
  justify-content:flex-start;

}
