@charset "UTF-8";
@font-face {
  font-family: 'Replica';
  src: url("/fonts/ReplicaStdRegular.otf") format("opentype"); }

@font-face {
  font-family: 'ReplicaStdBold';
  src: url("/fonts/ReplicaStdBold.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Regular") url("/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: local("Roboto-Bold"), url("/fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-LightItalic';
  src: local("Roboto-LightItalic"), url("/fonts/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Light';
  src: local("Roboto-Light"), url("/fonts/Roboto-Light.ttf") format("truetype"); }

span.required {
  color: red;
  font-size: 1.1rem; }

body, html {
  font-family: "Roboto-Light", monospace;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  background-image: url("/images/back.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto'; }

.header-card {
  background: #2c3e50;
  border-radius: 14px;
  align-items: center;
  width: 50%;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-bottom: 2%;
  font-weight: bold; }

.header-card-activities {
  background: #2c3e50;
  border-radius: 14px;
  align-items: center;
  width: 80%;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-bottom: 2%; }

.header-card-text {
  align-self: ¡lex-start;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #fff; }

.box {
  width: 50%;
  height: 250px;
  background-color: #2c3e50;
  justify-content: center; }

.box-image-circular {
  width: 50%;
  height: 250px;
  background-color: #2c3e50;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 5%; }

.image-circular {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: #C8C9C7; }

.image-circular-min {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: #C8C9C7; }

.main-content {
  width: auto;
  background-color: transparent;
  font-weight: bold; }

.react-bootstrap-table-page-btns-ul {
  font-family: Roboto;
  font-size: 10px; }

.sign-out {
  font-family: 'Roboto'; }

.title-table {
  font-size: 1.52rem;
  font-family: "Roboto", monospace;
  background-color: #0071C3;
  color: #fff; }

.width-table {
  width: 30%;
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start; }

.custom-row-table {
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start; }

.width-table {
  width: 10; }

.button-blue-welcome {
  background-color: #0076CE;
  color: #fff;
  border-radius: 15px; }

.blink_me {
  animation: blinker 3s linear infinite;
  color: #2ecc71;
  font-size: 2.25rem;
  font-family: "Roboto", monospace; }

.success {
  margin-top: 0.5rem;
  color: #2ecc71;
  font-family: "Roboto", monospace;
  font-size: 1.8rem; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fffbe3; }

body {
  font-family: 'Roboto'; }

* {
  box-sizing: border-box; }

input {
  background-color: #fff; }

input:invalid:required {
  background-color: #FFC220; }

input:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% #FFC220;
  background-size: 18px;
  background-color: #C8C9C7; }

input:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

input:invalid {
  background-color: #FFC220; }

textarea::required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

textarea:invalid {
  background-color: #FFC220; }

textarea:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

textarea:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% #FFC220;
  background-size: 18px; }

input:required:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/ok.svg") no-repeat 95% 50% #FFC220;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-color: #C8C9C7;
  text-align: center; }

textarea:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% #FFC220;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-color: #C8C9C7;
  text-align: center;
  border-radius: .5rem; }

.comboValid {
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem; }

.comboInvalid {
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem; }

iframe {
  background: #000;
  border: none;
  /* Reset default border */
  height: 90vh;
  /* Viewport-relative units */
  width: 90vw; }

.avatarItem {
  display: flex;
  width: 13rem; }
  @media (min-width: 768px) {
    .avatarItem {
      margin-left: 0rem; } }

.avatarItemFixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem; }
  @media (min-width: 768px) {
    .avatarItemFixed {
      margin-left: 0rem; } }

.avatarBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  width: 10%; }

.leftBox {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center; }

.leftBoxMobile {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center; }

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", monospace;
  text-align: center; }
  .mainBox a {
    width: 100px;
    padding: 1rem;
    color: #fff;
    background: #fc466b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f5efb, #fc466b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0.5rem;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0);
    transition: all 0.25s ease 0s; }
    .mainBox a:hover {
      opacity: 0.9;
      transition: all 0.25s ease 0s;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }

@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-10px); }
  100% {
    transform: translatey(0px); } }
  .mainBox p:nth-of-type(2) {
    font-size: 12px; }

.input-error {
  margin-top: 0.5rem;
  color: #E5162F;
  font-family: "Roboto", monospace;
  font-size: 14px; }

.page-content {
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  color: transparent; }

.page-mobile-content {
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  padding: 5%;
  color: #C8C9C7; }

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }

.button-blue {
  margin-top: 1rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  text-align: justify;
  font-size: 0.75rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem .button-blue; }
  .button-blue :hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.mainWrapperLayout {
  padding: 10%;
  background: linear-gradient(to bottom, #0076CE, #00447C);
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: white;
  font-size: 1.5rem; }

.mainWrapperMobileLayout {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; }
  @media (min-width: 768px) {
    .mainWrapperMobileLayout {
      min-height: 700px;
      height: 100%; } }

.dashboardButton {
  left: -10px; }

.imageDell {
  width: 40%; }

.imageDell img2 {
  width: 100%;
  background-color: #00FF00; }

.imageVmware {
  width: 30%; }

.imgDell {
  width: 100%; }

.itemMenu {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: .5rem; }

.mainBoxPlay {
  display: flex;
  flex-direction: column;
  padding: 5%;
  color: #ecf0f1; }

.game {
  top: 4rem;
  align-items: center;
  justify-content: center;
  width: '80%';
  height: '80%'; }

.titleVideo {
  margin-top: 1rem;
  font-size: 2rem; }

.boxVideo {
  display: flex;
  flex-direction: rows;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: .8rem; }

.playButton {
  margin-left: 1rem; }

.playVideoPopUp {
  width: 100px; }

.videoAdd {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  width: 80%;
  transform: translate(-50%, -50%); }

.marginPlay {
  top: 5rem; }
  @media (max-width: 768px) {
    .marginPlay {
      margin-top: 5rem; } }

.page-content-mobile-play {
  margin-top: 15rem;
  position: relative; }

.responses {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  text-align: left;
  background-color: white;
  border-radius: .5rem;
  color: #041E42;
  padding: 1rem;
  margin-top: .7rem;
  width: 90%; }

.responsesSection1 {
  flex: 10; }

.responsesSection2A {
  flex: .5;
  left: 1rem; }

.responsesSection2B {
  flex: .5;
  left: 1rem; }

.responsesSection2C {
  flex: .5;
  left: 1rem; }

.responsesA {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  text-align: left;
  background-color: #00447C;
  border-radius: .5rem;
  color: white;
  padding: 1rem;
  margin-top: .7rem;
  width: 90%; }

.dot {
  height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  position: sticky;
  margin-top: .8rem;
  margin-left: -1rem;
  justify-content: center;
  color: #041E42; }

.dotA {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: sticky;
  margin-top: .8rem;
  margin-left: -1rem;
  justify-content: center;
  background-color: #00447C;
  color: white; }

.letterInCircle {
  display: flex;
  margin-top: .5rem;
  justify-content: center;
  align-content: center;
  align-self: center; }

.rowPlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.questionTitle {
  width: 90%;
  color: #fff;
  font-size: 1.2rem; }

.scoreTitle {
  color: #fff;
  font-size: 2rem; }

.scoreText01 {
  color: #fff;
  margin-top: 1rem;
  font-size: 1rem; }

.scoreText02 {
  color: #fff;
  margin-top: 1rem;
  font-size: .7rem; }

.points-button-quiz {
  height: 40px;
  margin-top: 1rem;
  color: #0071C3;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  width: 40%;
  font-size: .8rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s; }

.button-exit-quiz {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 3rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  width: 15rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  text-align: center;
  font-size: 0.75rem; }
  .button-exit-quiz:hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.points-button-continue {
  height: 40px;
  margin-top: 1rem;
  color: white;
  background-color: #0071C3;
  border-color: #0071C3;
  border-radius: 10px;
  width: 40%;
  font-size: .8rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s; }

.scoreContainer {
  display: flex; }

.scoreContainerMobile {
  display: flex;
  flex-direction: column; }

.titleTop {
  font-size: 1.5rem;
  color: white; }

.scoreRow {
  flex: 1; }

.topTenItem {
  display: flex;
  margin-top: 1rem;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 2rem; }
  @media (max-width: 768px) {
    .topTenItem {
      right: 1rem;
      top: 1rem;
      width: "100%";
      margin-left: .1rem;
      margin-right: .1rem; } }

.topTenItemA {
  flex: 1;
  display: flex;
  align-items: flex-start;
  background-color: #FFC220;
  color: #fff;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  font-size: .8rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle; }
  @media (max-width: 768px) {
    .topTenItemA {
      align-items: flex-start; } }

.topTenItemB {
  flex: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: .9rem; }

.colorA {
  color: #00447C; }

.colorB {
  color: #0076CE; }

.close-top {
  position: absolute;
  color: white;
  right: 1rem;
  top: 1rem;
  font-size: 28px;
  font-weight: bold;
  z-index: 20; }
  @media (max-width: 768px) {
    .close-top {
      right: 1rem;
      top: 1rem; } }

.modal-content-top {
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  width: 95%;
  height: 95%;
  background-color: #0076CE;
  border-radius: 0.25rem;
  color: #333;
  font-family: sans-serif;
  text-align: justify;
  line-height: 1.3;
  border-radius: 1rem;
  border-color: white;
  border-width: 1px;
  overflow-y: auto; }
  @media (min-width: 768px) {
    .modal-content-top {
      min-height: 200px; } }

.modal-content-top .topImage {
  position: absolute;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: -10%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%; }
  @media (max-width: 768px) {
    .modal-content-top .topImage {
      height: 60%;
      width: 60%;
      top: 4%; } }

.container-modal-top {
  background-color: white; }

.containerMessage {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%; }
  @media (max-width: 768px) {
    .containerMessage {
      font-size: 1.2rem; } }

.containerMessage-exit01 {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 100%; }
  @media (max-width: 768px) {
    .containerMessage-exit01 {
      font-size: 1.2rem; } }

.containerExitSurvey {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 80%; }
  @media (max-width: 768px) {
    .containerExitSurvey {
      font-size: 1.2rem; } }

.button-next-finish {
  margin-top: 3rem;
  height: 3rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  padding: 1rem;
  width: 10rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  text-align: center;
  font-size: 0.75rem; }
  .button-next-finish:hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }
  @media (max-width: 768px) {
    .button-next-finish {
      width: 6rem; } }

.button-finish-survey {
  margin-top: 3rem;
  justify-content: center;
  height: 3rem;
  color: #ffffff;
  align-self: center;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  padding: 1rem;
  width: 10rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 3rem; }
  .button-finish-survey:hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }
  @media (max-width: 768px) {
    .button-finish-survey {
      width: 6rem; } }

.titleSurvey {
  font-size: 2.1rem;
  width: 100%;
  margin-bottom: 1rem; }

.questionSurvey {
  margin-top: 1rem;
  font-size: 1.3rem;
  margin-left: 0rem;
  justify-content: flex-start; }
  @media (max-width: 768px) {
    .questionSurvey {
      font-size: 1.1rem; } }

.questionSurvey2 {
  font-size: 1.3rem;
  margin-left: 0rem; }

.radios1q {
  display: flex;
  flex-direction: rows;
  font-size: .8rem;
  margin-top: .5rem;
  left: 0px; }
  @media (max-width: 768px) {
    .radios1q {
      font-size: .8rem; } }

.radio1q {
  margin-right: 1rem; }
  @media (max-width: 768px) {
    .radio1q {
      font-size: .8rem; } }

.textAreaSurvey {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  height: 100%;
  box-sizing: border-box;
  align-self: flex-start;
  left: 0px; }
  @media (max-width: 768px) {
    .textAreaSurvey {
      width: 100%;
      align-self: center; } }

.radios2Survey {
  display: flex;
  flex-direction: column;
  font-size: .8rem; }

.radios2SurveyItem {
  display: flex;
  flex-direction: row;
  font-size: .8rem; }

.note-survey {
  margin-top: 1.5rem;
  font-size: .8rem; }
  @media (max-width: 768px) {
    .note-survey {
      font-size: .5rem; } }

.points-button-exit-survey {
  height: 2.5rem;
  margin-top: 1rem;
  color: #0071C3;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  width: 50%;
  font-size: 2.1rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s; }
  @media (max-width: 768px) {
    .points-button-exit-survey {
      width: 80%; } }

.close-white-exit-survey {
  position: absolute;
  color: white;
  right: 1rem;
  top: 0rem;
  font-size: 28px;
  font-weight: bold;
  z-index: 20; }
  @media (max-width: 768px) {
    .close-white-exit-survey {
      right: 1rem; } }
