// @Author: memo
// @Date:   2020-10-08T00:52:30-05:00
// @Last modified by:   memo
// @Last modified time: 2020-10-29T22:19:15-06:00



@import "./../../styles/base.scss";

.mainBoxPlay{
  display: flex;
  flex-direction: column;
  padding: 5%;
  color:#ecf0f1;
  // background-color: $red
}


.mainQuizz{
  // display: flex;
  // height: 2000px;
  // width: 1200px;
  // background-color: $red;
  // @media (max-width: 768px) {
  //     width: 768px;
  //     background-color: #00ffff
  // }
}

.game{
  top:4rem;
  align-items: center;
  justify-content: center;
  width: '80%';
  height: '80%';
}


.titleVideo{
  margin-top: 1rem;
  font-size: 2rem;
}

.boxVideo{
  // background-color: red;
  display: flex;
  flex-direction: rows;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: .8rem;
}

.playButton{
  margin-left: 1rem;
}


.playVideoPopUp{
  width: 100px;
}

.videoAdd {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  width: 80%;
  transform: translate(-50%, -50%);
}

.marginPlay{
  top:5rem;
  @media (max-width: 768px) {
      margin-top: 5rem;
  }
}


.page-content-mobile-play{
  margin-top: 15rem;
  position: relative;
}


.responses{
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  text-align: left;
  background-color: white;
  border-radius: .5rem;
  color:$black;
  padding: 1rem;
  margin-top: .7rem;
  width: 90%
}

.responsesSection1{
  flex:10;
  // background-color: green;
}
.responsesSection2A{
  flex:.5;
  // background-color: red;
  left: 1rem;
}

.responsesSection2B{
  flex:.5;
  // background-color: red;
  left: 1rem;
}

.responsesSection2C{
  flex:.5;
  // background-color: red;
  left: 1rem;
}

.responsesA{
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  text-align: left;
  background-color: $fadeLower;
  border-radius: .5rem;
  color:white;
  padding: 1rem;
  margin-top: .7rem;
  width: 90%
}

.dot {
  height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  position:sticky;
  margin-top:.8rem;
  margin-left: -1rem;
  justify-content: center;
  color:$black
}

.dotA {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position:sticky;
  margin-top:.8rem;
  margin-left: -1rem;
  justify-content: center;
  background-color: $fadeLower;
  color:white
}

.letterInCircle{
  display: flex;
  margin-top: .5rem;
  justify-content: center;
  align-content: center;
  align-self:center;
}

.rowPlay{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.questionTitle{
  width: 90%;
  color: $white;
  font-size: 1.2rem;
}

.scoreTitle{
  color: $white;
  font-size: 2rem;
}

.scoreText01{
  color: $white;
  margin-top: 1rem;
  font-size: 1rem;
}

.scoreText02{
  color: $white;
  margin-top: 1rem;
  font-size: .7rem;
}

.points-button-quiz {
  height: 40px;
  margin-top: 1rem;
  color: $primaryBlue;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  width: 40%;
  font-size: .8rem;
  font-family: $code;
  transition: all 0.25s ease 0s;
}

.button-exit-quiz {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 3rem;
  // margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 15rem;;
  font-family: $code;
  transition: all 0.25s ease 0s;
  text-align:center;
  font-size: 0.75rem;

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}

.points-button-continue {
  height: 40px;
  margin-top: 1rem;
  color: white;
  background-color: $primaryBlue;
  border-color: $primaryBlue;
  border-radius: 10px;
  width: 40%;
  font-size: .8rem;
  font-family: $code;
  transition: all 0.25s ease 0s;
}

.scoreContainer{
  display: flex;
}

.scoreContainerMobile{
  display: flex;
  flex-direction: column;
}

.titleTop{
    font-size: 1.5rem;
    color: white
}

.scoreRow{
  flex:1,
}

.topTenItem{
  display: flex;
  margin-top: 1rem;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 2rem;
  @media (max-width: 768px) {
    right: 1rem;
    top:1rem;
    width: "100%";
    margin-left: .1rem;
    margin-right: .1rem;
  }
}

.topTenItemA{
  flex:1;
  display: flex;
  align-items: flex-start;
  background-color: $yellow;
  color: $white;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  font-size: .8rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  @media (max-width: 768px) {
      align-items:flex-start;
  }
}

.topTenItemB{
  flex:9;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color:white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: .9rem;
}

.colorA{
  color:$fadeLower
}

.colorB{
  color:$loginBlue
}


.close-top {
  position: absolute;
  color: white;
  right: 1rem;
  top:1rem;
  font-size: 28px;
  font-weight: bold;
  z-index: 20;
  @media (max-width: 768px) {
    right: 1rem;
    top:1rem;
  }
}

.modal-content-top {

  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  width: 95%;
  height: 95%;
  background-color: $hoverBlue;
  border-radius: 0.25rem;
  color: #333;
  font-family: sans-serif;
  text-align: justify;
  line-height: 1.3;
  border-radius: 1rem;
  border-color: white;
  border-width: 1px;
  overflow-y: auto;
  @media (min-width: 768px) {
      min-height: 200px;
      // height: 20%;
    }


  // margin: auto;
  // padding: 1rem;
  // border: 1px solid #888;
  // width: 90%;
  // height: auto;
  // background-color: $hoverBlue;
  //
  // @media (max-width: 768px) {
  //     width: 70%;
  // }
  // border-radius: 1rem;
  // border-width: 1rem;
  // border-color: white;
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // color: white;
  // /* bring your own prefixes */
  // transform: translate(-50%, -50%);
  // display: flex;
  // flex-direction: column;
  // font-size:1.5rem;
  // overflow-y: scroll
  // scroll-behavior:auto;
}

.modal-content-top .topImage {
  position: absolute;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: -10%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%;
  // background-color: red;
  @media (max-width: 768px) {
    height: 60%;
    width: 60%;
    top: 4%;
  }

}

.container-modal-top{
  background-color: white
}

.containerMessage{
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  // background-color: red;
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
  width: 100%;
}

.containerMessage-exit01{
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  // background-color: red;
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
  width: 100%;
}


.containerExitSurvey{
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
  width: 80%;
}

.button-next-finish {
  margin-top: 3rem;
  height: 3rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  padding: 1rem;
  width: 10rem;
  font-family: $code;
  transition: all 0.25s ease 0s;
  text-align:center;
  font-size: 0.75rem;
  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
  @media (max-width: 768px) {
    width: 6rem;
  }
}

.button-finish-survey {
  margin-top: 3rem;
  justify-content: center;
  height: 3rem;
  color: #ffffff;
  align-self:center;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  padding: 1rem;
  width: 10rem;
  font-family: $code;
  transition: all 0.25s ease 0s;
  text-align:center;
  font-size: 0.75rem;
  margin-bottom: 3rem;
  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
  @media (max-width: 768px) {
    width: 6rem;
  }
}

.titleSurvey{
  font-size: 2.1rem;
  width: 100%;
  margin-bottom: 1rem;
  // background-color: red;
}

.questionSurvey{
  margin-top: 1rem;
  font-size: 1.3rem;
  margin-left: 0rem;
  justify-content: flex-start;
  @media (max-width: 768px) {
    font-size: 1.1rem;
  }
}

.questionSurvey2{
  font-size: 1.3rem;
  margin-left: 0rem;
}

.radios1q{
  display: flex;
  flex-direction: rows;
  font-size: .8rem;
  margin-top: .5rem;
  left: 0px;
  @media (max-width: 768px) {
    font-size: .8rem;
  }
}

.radio1q{
  margin-right: 1rem;
  @media (max-width: 768px) {
    font-size: .8rem;
  }
}

.textAreaSurvey{
  display: flex;
  width: 100%;
  margin-top: 1rem;
  height: 100%;
  box-sizing: border-box;
  align-self: flex-start;
  left: 0px;
  @media (max-width: 768px) {
    width: 100%;
    align-self: center;
  }
}
.radios2Survey{
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}
.radios2SurveyItem{
  display: flex;
  flex-direction: row;
  font-size: .8rem;
}

.note-survey{
  margin-top: 1.5rem;
  font-size: .8rem;
  @media (max-width: 768px) {
    font-size: .5rem;
  }
}

.points-button-exit-survey {
  height: 2.5rem;;
  margin-top: 1rem;
  color: $primaryBlue;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  width: 50%;
  font-size: 2.1rem;
  font-family: $code;
  transition: all 0.25s ease 0s;
  @media (max-width: 768px) {
    width: 80%;
  }
}

.close-white-exit-survey {
  position: absolute;
  color: white;
  right: 1rem;
  top:0rem;
  font-size: 28px;
  font-weight: bold;
  z-index: 20;
  @media (max-width: 768px) {
    right: 1rem;
  }
}
