.allwaysOnTop {
  position: 'fixed';
  top: '0px';
  right: '0px';
  width: '100%';
  border: '3px solid #73AD21';
  backgroundColor: '#73AD21'; }

.top-nav {
  position: fixed;
  min-height: 120px;
  width: 252px;
  text-align: center;
  word-wrap: break-word;
  background-color: aquamarine; }
