.allwaysOnTop{
   position: 'fixed';
   top: '0px';
   right: '0px';
   width: '100%';
   border: '3px solid #73AD21';
   backgroundColor: '#73AD21'
 }

 .top-nav {
   // display: flex;
   // justify-content: space-between;
   // align-items: center;
   // height: 70px;
   // top: 0px;
   // left: 50px;
   // right: 0px;
   // border-bottom: 2px solid #73AD21;
   // background-color: #73ADff;
   // position: fixed;
   // width: 100%;
   // // min-width: 1100px;
   // z-index: 1000;
   position: fixed;
   min-height: 120px;
   width: 252px;
   text-align: center;
   word-wrap: break-word;
   background-color: aquamarine;
 }
