// @Author: memo
// @Date:   2020-10-15T21:54:25-05:00
// @Last modified by:   memo
// @Last modified time: 2020-11-18T14:15:30-06:00
@import "./../../../styles/base.scss";


/* Modal Content */
.modal-content-award {
  background-color: #fefefe;
  margin: auto;

  border: 1px solid #888;
  width: 70%;
  flex-direction:column;
  background-image: url('/images/popup.png');
  @media (min-width: 768px) {
      width: 60%;
  }
  @media (min-width: 1200px) {
      width: 40%;
  }
  background-repeat:repeat;
  opacity: 1;
  background-size:contain;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.modal-text-award{
 font-family: $light;
  font-size: 1rem;
  color:black;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);

  text-align: center;
  font-weight:100;
    @media (min-width: 1280px) {
    font-size:1.2rem;
   }
  
}

.modal-close-award{
  position: absolute;
  font-weight: 100;
  top:0.5rem;
  cursor: pointer;
  color: rgba(0,0,0,0.5);
  right:1rem;
  font-size:2rem;
@media (min-width: 1280px) {
    font-size:2.5rem;
   }
  
}
 .send-button-modal-award {
   margin-top: 1rem;
   color: #ffffff;
   background-color: $loginButton;
   border-color: $loginButton;
   border-radius: 7pt;
   width: 80%;
   margin:auto;
   padding: 0.8em 0;
   font-size: 1rem;
   font-family: $code;
   transition: all 0.25s ease 0s;
   
   &:hover {
     background-color: $hoverBlue;
     border-color: $hoverBlue;
     transform: translateY(-2.5px);
     cursor: pointer;
     transition: all 0.25s ease 0s;
    };
    @media (min-width: 768px) {
      width: 100%;
      padding:0.5rem 0;
       font-size: 1em;
   }
 }





