// @Author: memo
// @Date:   2020-10-15T21:54:25-05:00
// @Last modified by:   memo
// @Last modified time: 2020-11-18T14:15:30-06:00
@import "./../styles/base.scss";

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50000; /* Sit on top */
  // padding-top: 200px; /* Location of the box */
  // align-items: center;
  // justify-content: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5rem;
  border: 1px solid #888;
  width: 30%;
  background-image: url('/images/popup.png');

  @media (max-width: 768px) {
      width: 70%;
  }

  background-repeat:repeat;
  opacity: 1;
  background-size:contain;

  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  right:1rem;
  position: absolute;
  align-self:left;
}

.close:hover,
.close:focus {
  color: $fadeLower;
  text-decoration: none;
  cursor: pointer;
}



.modal-content-survey {
  margin: auto;
  padding: 5rem;
  border: 1px solid #888;
  width: 50%;

  height:90%;
  // background-color: $hoverBlue;
  background: linear-gradient(
    to bottom right,
    $loginButton,
    $fadeLower
  );

  @media (max-width: 1024px) {
      width: 95%;
        padding: 0rem;
  }
  border-radius: 1rem;
  border-width: 1rem;
  border-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size:1.5rem;
  overflow-y: scroll;
}


.modal-content-video {
  margin: auto;
  padding: 5rem;
  border: 1px solid #888;
  width: 50%;
  height: auto;
  // background-color: $hoverBlue;
  background: linear-gradient(
    to bottom right,
    $loginButton,
    $fadeLower
  );

  @media (max-width: 768px) {
      width: 90%;
      font-size: 1.2rem;
  }
  border-radius: 1rem;
  border-width: 1rem;
  border-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size:1.5rem;
}



.modal-content-video-mobile {
  margin: auto;
  padding: 5rem;
  border: 1px solid #888;
  width: 90%;
  height: 80%;
  // background-color: $hoverBlue;
  background: linear-gradient(
    to bottom right,
    $loginButton,
    $fadeLower
  );

  @media (max-width: 768px) {
      width: 90%;
      font-size: 1.2rem;
  }
  border-radius: 1rem;
  border-width: 1rem;
  border-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size:1.5rem;
}

.modal-content-video-mobile .topImage {
  position: absolute;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: -3%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%;

  @media (max-width: 768px) {
    height: 40%;
    width: 40%;
    top: 4%;
  }
}

.modal-content-video-mobile .topImage2 {
  position: absolute;
  width: 20%;
  height: 20%;
  top:-2rem;
  left:-1rem;
  justify-content: center;
  align-items: center;

  transform: translate(-50%, -50%);
  height: 20%;
  width: 20%;

  @media (max-width: 768px) {
    height: 40%;
    width: 40%;
    top: 1%;
  }
}


.modal-content-exit-survey {
  margin: auto;
  padding: 5rem;
  border: 1px solid #888;
  width: 50%;
  height: auto;
  // background-color: $hoverBlue;
  background: linear-gradient(
    to bottom right,
    $loginButton,
    $fadeLower
  );

  @media (max-width: 768px) {
      width: 95%;
  }
  border-radius: 1rem;
  border-width: 1rem;
  border-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size:1.5rem;
}

.modal-content-video .topImage {
  position: absolute;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: -10%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%;

  @media (max-width: 768px) {
    height: 40%;
    width: 40%;
    top: 4%;
  }
}

.modal-content-video .topImage2 {
  position: absolute;
  width: 20%;
  height: 20%;
  top:-2rem;
  left:-1rem;
  justify-content: center;
  align-items: center;

  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%;

  @media (max-width: 768px) {
    height: 50%;
    width: 50%;
    top: 1%;
  }
}


.modal-content-inner-video {
  background-color: $hoverBlue;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    padding: 10rem;
  // margin: auto;
  // border-radius: 1rem;
}

.image-top{
    position: absolute;
    top:-8rem;
    // left:-1rem;
    justify-content: center;
    align-self: center;
}



.modal-content-quiz {
  margin: auto;
  padding: 5rem;
  border: 1px solid #888;
  width: 40%;
  height: auto;
  background-color: $hoverBlue;

  @media (max-width: 768px) {
      width: 70%;
  }
  border-radius: 1rem;
  border-width: 1rem;
  border-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size:1.5rem;
}

.modal-content-quiz .topImage {
  position: absolute;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: -0%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%;

  @media (max-width: 768px) {
    height: 40%;
    width: 40%;
  }

  @media (max-width: 1024px) {
    height: 40%;
    width: 40%;
  }
}

.textBoxVideo{
  font-size: 1.2rem;
  margin-top: 1rem;
}
.textBoxVideo-mobile{
  font-size: .8rem;
  margin-top: 1rem;
}

.fixSpace{
  margin-top: 2rem;
  color:"transparent";
  font-size: 0rem;
}
