// @Author: memo
// @Date:   2020-10-06T11:45:28-05:00
// @Last modified by:   memo
// @Last modified time: 2020-11-23T10:52:03-06:00

@font-face {
     font-family: 'Replica';
     src: url('/fonts/ReplicaStdRegular.otf') format("opentype");
}


@font-face {
     font-family: 'ReplicaStdBold';
     src: url('/fonts/ReplicaStdBold.otf') format("opentype");
}



@font-face {
     // font-family: 'Nexa';
     // src: url('/fonts/NexaLight.otf') format("opentype")
     font-family: 'Roboto';
     src: local('Roboto-Regular') url('/fonts/Roboto-Regular.ttf') format("truetype");
     // font-weight: 700;
     // font-style: italic;
}

@font-face {
     font-family: 'Roboto-Bold';
     src: local('Roboto-Bold'), url('/fonts/Roboto-Bold.ttf') format("truetype")
}


@font-face {
     font-family: 'Roboto-LightItalic';
     src: local('Roboto-LightItalic'), url('/fonts/Roboto-LightItalic.ttf') format("truetype")
}

@font-face {
     font-family: 'Roboto-Light';
     src: local('Roboto-Light'), url('/fonts/Roboto-Light.ttf') format("truetype")
}


//
// @font-face {
//      font-family: 'Roboto';
//      src: local('Roboto-Italic'), url('/fonts/Roboto-LightItalic.ttf.ttf') format("truetype")
// }

// $font-path: '~react-widgets/lib/fonts';
// $img-path: '~react-widgets/lib/img';

// @import '~react-widgets/lib/scss/react-widgets';
// base colors
// $black: #212121;
$black: #041E42;

$white: #fff;
$night:#2c3e50;
$sunflower:#f1c40f;
$lighterGray: #fafafa;
$lightGray: #fefefe;
$gray: #C8C9C7;
$darkGray: #616161;
// $primaryBlue: #1B3E90;
$primaryBlue: #0071C3;
$loginBlue:#0076CE;
$loginButton:#41B6E6;
$hoverBlue: #0076CE;
$fadeLower: #00447C;
$red: #E5162F;
$red_2:#ffa999;
$mainDark: #191f2b;
$lightDark: #222a37;
$green: #2ecc71;
$green_2: rgba(218, 234, 226,0.5);
$gray3:#87857f;
$yellow: #FFC220;
$yellow_2:#fffbe3;
// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
// $bold: 700;
$heavy: 800;

// fonts
$code: "Roboto", monospace;
$bold: "Roboto-Bold", monospace;
$lightItalic : "Roboto-LightItalic", monospace;
$light : "Roboto-Light", monospace;


span.required {
  color: red;
  font-size: 1.1rem
}

body, html {
    font-family: $light;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    background-image: url('/images/back.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto'
}

.header-card{
  // 1display: flex;
  background: $night;
  border-radius: 14px;
  // // width: 90%;
  // height: 250px;
  // align-self: center;
  // align-content: center;
  align-items: center;
  // flex-direction: row;
  width: 50%;
  height: 300px;
  border: 1px solid #c3c3c3;
  // display: -webkit-flex;
  // -webkit-flex-direction: column-reverse;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-bottom: 2%;
  font-weight:bold;
}

.header-card-activities{
  // 1display: flex;
  background: $night;
  border-radius: 14px;
  // // width: 90%;
  // height: 250px;
  // align-self: center;
  // align-content: center;
  align-items: center;
  // flex-direction: row;
  width: 80%;
  height: 300px;
  border: 1px solid #c3c3c3;
  // display: -webkit-flex;
  // -webkit-flex-direction: column-reverse;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-bottom: 2%;
}


.header-card-text {
  align-self: ¡lex-start;
  font-size: 24px;
  // font-weight: $medium;
  font-family: 'Roboto';
  font-weight: bold;
  color: $white;
}

.box {
  width: 50%;
  height: 250px;
  background-color: $night;
  justify-content: center;
}

.box-image-circular {
  width: 50%;
  height: 250px;
  background-color: $night;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 5%;
}

.image-circular {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: $gray;
}

.image-circular-min {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: $gray;
}

.main-content{
  // margin-top: 8%;
  width: auto;
  background-color: transparent;
  font-weight:bold;
}
.react-bootstrap-table-page-btns-ul{
    font-family: Roboto;
    font-size: 10px;
}

.sign-out{
  font-family: 'Roboto'
}

.title-table{
  font-size: 1.52rem;
  font-family: "Roboto", monospace;
  background-color: $primaryBlue;
  color:$white
}

.width-table{
  width: 30%;
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start;
}


.custom-row-table{
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start;
}

.width-table{
  width: 10;
}

.button-blue-welcome{
  background-color: $loginBlue;
  color:$white;
  border-radius: 15px;
  // margin-left:5rem;
  // margin-left: 15%
}

.blink_me {
  animation: blinker 3s linear infinite;
  color: $green;
  font-size: 2.25rem;
  font-family: "Roboto", monospace;
}
.success {
  margin-top: 0.5rem;
  color: $green;
  font-family: $code;
  font-size: 1.8rem;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  // background-color: rgba(241, 196, 15, 0.5);
  background-color: $yellow_2;
}

body {
  font-family: 'Roboto';
}
* {
  box-sizing: border-box;
}

input {
  background-color: $white
}

input:invalid {
  // border: 2px dashed $gray;
}
input:invalid:required {
  // background-image: linear-gradient(to right, pink, lightgreen);
  background-color: $yellow
}

input:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% $yellow;
  background-size: 18px;
  background-color: $gray
}
input:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px;
}

input:invalid {
  // background-image: linear-gradient(to right, pink, lightgreen);
  background-color: $yellow
}


// input:focus:valid {
//   background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
//   background-size: 18px;
// }
// input:valid {
//   // border: 1.5 px solid lightgreen;
//   // background: url("https://fantasticimago.com/wp-content/plugins/bis-mega-enterprise-platform-1/image/svg/check.svg") no-repeat 95% 100% $green;
//   // background-color: $gray;
// }



//TEXTAREAS
textarea::required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px;
}

textarea:invalid {
  // background-image: linear-gradient(to right, pink, lightgreen);
  background-color: $yellow
}
textarea:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px;
}

textarea:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% $yellow;
  background-size: 18px;
}

input:required:valid {
        background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/ok.svg") no-repeat 95% 50% $yellow;
        background-size: 5px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
        background-color: $gray;
        text-align:center;
}

textarea:valid {
        background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% $yellow;
        background-size: 5px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
        background-color: $gray;
        text-align:center;
        border-radius: .5rem
}
// widgetInput{
//   background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% $yellow;
//   background-size: 5px;
//   background-repeat: no-repeat;
//   background-position: 5px 5px;
//   background-color: lightgreen;
//   text-align:center;
// }
// input:invalid {
//   // background-image: linear-gradient(to right, pink, lightgreen);
//   background-color: $red_2
// }
// input:focus:invalid {
//   background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% $yellow;
//   background-size: 18px;
// }
// input:focus:valid {
//   background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
//   background-size: 18px;
// }

.comboValid{
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem;
  // border: 2px dashed lightgreen;
}

.comboInvalid{
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem;
  // border: 2px dashed $red_2;
  // background-color: $red_2
}

iframe {
    // display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 90vh;        /* Viewport-relative units */
    width: 90vw;
}

.avatarItem{
  display: flex;
  width: 13rem;
  @media (min-width: 768px) {
    margin-left: 0rem;
  }
}
.avatarItemFixed{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  // background-color: yellow;
  // margin-top: 0rem;
  @media (min-width: 768px) {
    margin-left: 0rem;
  }
}

.avatarBox{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  font-size: 1rem;
  width: 10%;
  // background-color: $yellow
}


.leftBox{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.leftBoxMobile{
  display: flex;
  flex: 1;
  justify-content:flex-end;
  align-items: center;
  // margin-left: 1.2rem;
  // background-color: red;
}
.fixLogoPosition{
  // display: flex;
  // flex: 1;
  // margin-right: -210px
}
.mainBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  font-family: $code;
  text-align: center;

  a {
    width: 100px;
    padding: 1rem;
    color: $white;
    background: #fc466b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #3f5efb,
      #fc466b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #3f5efb,
      #fc466b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0.5rem;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0);
    transition: all 0.25s ease 0s;

    &:hover {
      opacity: 0.9;
      transition: all 0.25s ease 0s;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    }

    @keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0px);
      }
    }
  }

  p {
    &:nth-of-type(2) {
      font-size: 12px;
    }
  }
}

.input-error {
  margin-top: 0.5rem;
  color: $red;
  font-family: $code;
  font-size: 14px;
}

.page-content{
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  // height: 2000px;
  margin-top: 15%;
  // padding: 5%;
  color:transparent
}

.page-mobile-content{
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;

  margin-top: 15%;
  padding: 5%;
  color:$gray
}

.style-combobox{
    // align-self: center;
    // width: 35%;
    // font-size: 1.5rem;
}


.center{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.button-blue {
  // height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  // width: 100%;
  font-family: $code;
  transition: all 0.25s ease 0s;
  text-align:justify;
  font-size: 0.75rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}


.mainWrapperLayout{
  padding: 10%;
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color:white;
  font-size: 1.5rem;
}

.mainWrapperMobileLayout{
  // margin: auto;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display:flex;
  @media (min-width: 768px) {
      min-height: 700px;
      height: 100%;
    }
  // background-color: #ffFF00;
}

.dashboardButton{
  left:-10px
}
.imageDell{
  width: 40%;
  // background-color: #ffFF00;
  // margin: 10%
}

.imageDell img2{
  width: 100%;
  background-color: #00FF00;
  // transform: scale(4);
  // left:10px;
}

.imageVmware{
  width: 30%
}

.imgDell {
  width: 100%;
  // background-size: cover;
  // background: url('/images/dellTech.png') no-repeat;
  // background-size: cover;
  // object-position: 150px 0;
}

.itemMenu{
    display: flex;
    justify-content: center;
    // align-items: center;
    // align-self:center;
    font-size: 2rem;
    margin-top: .5rem;
}
