// @Author: memo
// @Date:   2020-10-15T21:32:57-05:00
// @Last modified by:   memo
// @Last modified time: 2020-11-12T21:26:43-06:00
@import "./../styles/base.scss";

body {

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-text{
  font-family: $bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.modal-content-mobile {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  top:50%;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 20;
}

.close-mobile {
  color: $white;
  position: absolute;
  font-size: 28px;
  right: 1rem;
  top: 1rem;
  font-weight: bold;
  z-index: 20;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.close-white {
  position: absolute;
  color: $yellow;
  right: 11rem;
  font-size: 28px;
  font-weight: bold;
  z-index: 20;
  @media (max-width: 768px) {
    right: 5rem;

  }
}


.close-login {
  position: absolute;
  color: black;
  right: 1rem;
  top: 1rem;
  z-index: 20;
}
