@charset "UTF-8";
@font-face {
  font-family: 'Replica';
  src: url("/fonts/ReplicaStdRegular.otf") format("opentype"); }

@font-face {
  font-family: 'ReplicaStdBold';
  src: url("/fonts/ReplicaStdBold.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Regular") url("/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: local("Roboto-Bold"), url("/fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-LightItalic';
  src: local("Roboto-LightItalic"), url("/fonts/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Light';
  src: local("Roboto-Light"), url("/fonts/Roboto-Light.ttf") format("truetype"); }

span.required {
  color: red;
  font-size: 1.1rem; }

body, html {
  font-family: "Roboto-Light", monospace;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  background-image: url("/images/back.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto'; }

.header-card {
  background: #2c3e50;
  border-radius: 14px;
  align-items: center;
  width: 50%;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-bottom: 2%;
  font-weight: bold; }

.header-card-activities {
  background: #2c3e50;
  border-radius: 14px;
  align-items: center;
  width: 80%;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-bottom: 2%; }

.header-card-text {
  align-self: ¡lex-start;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #fff; }

.box {
  width: 50%;
  height: 250px;
  background-color: #2c3e50;
  justify-content: center; }

.box-image-circular {
  width: 50%;
  height: 250px;
  background-color: #2c3e50;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 5%; }

.image-circular {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: #C8C9C7; }

.image-circular-min {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: #C8C9C7; }

.main-content {
  width: auto;
  background-color: transparent;
  font-weight: bold; }

.react-bootstrap-table-page-btns-ul {
  font-family: Roboto;
  font-size: 10px; }

.sign-out {
  font-family: 'Roboto'; }

.title-table {
  font-size: 1.52rem;
  font-family: "Roboto", monospace;
  background-color: #0071C3;
  color: #fff; }

.width-table {
  width: 30%;
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start; }

.custom-row-table {
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start; }

.width-table {
  width: 10; }

.button-blue-welcome {
  background-color: #0076CE;
  color: #fff;
  border-radius: 15px; }

.blink_me {
  animation: blinker 3s linear infinite;
  color: #2ecc71;
  font-size: 2.25rem;
  font-family: "Roboto", monospace; }

.success {
  margin-top: 0.5rem;
  color: #2ecc71;
  font-family: "Roboto", monospace;
  font-size: 1.8rem; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fffbe3; }

body {
  font-family: 'Roboto'; }

* {
  box-sizing: border-box; }

input {
  background-color: #fff; }

input:invalid:required {
  background-color: #FFC220; }

input:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% #FFC220;
  background-size: 18px;
  background-color: #C8C9C7; }

input:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

input:invalid {
  background-color: #FFC220; }

textarea::required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

textarea:invalid {
  background-color: #FFC220; }

textarea:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

textarea:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% #FFC220;
  background-size: 18px; }

input:required:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/ok.svg") no-repeat 95% 50% #FFC220;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-color: #C8C9C7;
  text-align: center; }

textarea:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% #FFC220;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-color: #C8C9C7;
  text-align: center;
  border-radius: .5rem; }

.comboValid {
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem; }

.comboInvalid {
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem; }

iframe {
  background: #000;
  border: none;
  /* Reset default border */
  height: 90vh;
  /* Viewport-relative units */
  width: 90vw; }

.avatarItem {
  display: flex;
  width: 13rem; }
  @media (min-width: 768px) {
    .avatarItem {
      margin-left: 0rem; } }

.avatarItemFixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem; }
  @media (min-width: 768px) {
    .avatarItemFixed {
      margin-left: 0rem; } }

.avatarBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  width: 10%; }

.leftBox {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center; }

.leftBoxMobile {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center; }

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", monospace;
  text-align: center; }
  .mainBox a {
    width: 100px;
    padding: 1rem;
    color: #fff;
    background: #fc466b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f5efb, #fc466b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0.5rem;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0);
    transition: all 0.25s ease 0s; }
    .mainBox a:hover {
      opacity: 0.9;
      transition: all 0.25s ease 0s;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }

@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-10px); }
  100% {
    transform: translatey(0px); } }
  .mainBox p:nth-of-type(2) {
    font-size: 12px; }

.input-error {
  margin-top: 0.5rem;
  color: #E5162F;
  font-family: "Roboto", monospace;
  font-size: 14px; }

.page-content {
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  color: transparent; }

.page-mobile-content {
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  padding: 5%;
  color: #C8C9C7; }

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }

.button-blue {
  margin-top: 1rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  text-align: justify;
  font-size: 0.75rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem .button-blue; }
  .button-blue :hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.mainWrapperLayout {
  padding: 10%;
  background: linear-gradient(to bottom, #0076CE, #00447C);
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: white;
  font-size: 1.5rem; }

.mainWrapperMobileLayout {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; }
  @media (min-width: 768px) {
    .mainWrapperMobileLayout {
      min-height: 700px;
      height: 100%; } }

.dashboardButton {
  left: -10px; }

.imageDell {
  width: 40%; }

.imageDell img2 {
  width: 100%;
  background-color: #00FF00; }

.imageVmware {
  width: 30%; }

.imgDell {
  width: 100%; }

.itemMenu {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: .5rem; }

.page-content-dash {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  color: white;
  margin-top: 5rem;
  /* bring your own prefixes */
  transform: translate(0%, 0%); }

.page-mobile-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  color: white;
  margin-top: 50rem; }

.mainWrapperLayout {
  background: linear-gradient(to bottom, #0076CE, #00447C);
  border-radius: 25px;
  width: 80%;
  position: relative;
  margin: 0; }

.mainWrapperLayoutDashboard {
  padding: 5%;
  background: linear-gradient(to bottom right, #41B6E6, #00447C);
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  margin-top: 5.5rem; }

.mainWrapperLayoutDashboard #topImage {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 45%;
  transform: translate(-220%, -50%);
  width: 15rem; }
  @media (max-width: 768px) {
    .mainWrapperLayoutDashboard #topImage {
      height: 40%;
      width: 40%;
      top: 4%; } }

.headerDashBoard {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: left;
  font-family: "Replica"; }

.headerDashBoard2-mobile {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 1rem; }

.headerDashBoard-mobile {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: left; }

.header-text-mobile {
  font-size: 1.25rem;
  margin-top: 1rem;
  font-family: "Roboto-Bold", monospace; }

.header-text-mobile2 {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-family: "Roboto-Bold", monospace; }

.bodyDashboard {
  display: grid;
  flex-direction: column; }

.cards {
  display: flex;
  align-items: flex-start;
  width: 100%;
  display: grid; }

.cardsWeb {
  display: flex;
  align-items: flex-start;
  width: 100%; }

.card {
  flex: 1;
  color: white;
  padding: 1rem;
  align-self: left; }

.cardWeb {
  flex: 1;
  color: white;
  padding: 1rem; }

.card-2 {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: auto 1fr; }

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); } }

.page-content-dashboard {
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: transparent; }

.headerDashBoard2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 1rem; }

.mainWrapperMobileLayout {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; }
  @media (min-width: 768px) {
    .mainWrapperMobileLayout {
      min-height: 700px;
      height: 100%; } }

.welcomeHome {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column; }

.welcomeHome2 {
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto-Light", monospace; }

.lowerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }

.lowerButtons2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.lowerButtons2-mobile {
  flex-direction: column; }

.lowerButtonsTitle {
  display: flex;
  flex-direction: column;
  font-family: "Roboto-Bold", monospace;
  align-items: flex-start; }

.buttonDashboard {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: flex-start;
  width: 100%; }

.rootDiv {
  display: flex;
  align-items: center; }

.imageTop {
  top: 2rem;
  position: absolute;
  left: 9rem;
  width: 15rem; }

.lowerButtons-mobile {
  display: flex;
  flex-direction: row; }

.send-button {
  margin-left: 5rem;
  height: 3rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  width: 10rem;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  text-align: center;
  font-size: 0.75rem; }
  .send-button:hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.send-button-welcome {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 3rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  width: 11rem;
  font-family: "Roboto-Bold", monospace;
  transition: all 0.25s ease 0s;
  text-align: center;
  font-size: 0.75rem; }
  .send-button-welcome:hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.send-button-welcomeWeb {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 3rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  width: 11rem;
  font-family: "Roboto-Bold", monospace;
  transition: all 0.25s ease 0s;
  text-align: center;
  font-size: 0.75rem;
  align-items: flex-start;
  left: 0rem; }
  .send-button-welcomeWeb:hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.fixButtonLeft {
  align-items: left; }

.contenido {
  display: inline-block;
  text-align: left;
  color: white;
  font-size: 1.2rem; }

.columnleft {
  float: left;
  keft: 50%;
  padding-bottom: 3rem;
  justify-content: center;
  margin-top: 1rem; }

.columnright {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 25rem;
  margin-left: 1rem; }

.row-dashboard {
  display: flex;
  margin-top: 1rem;
  width: 100%; }

.leftBox {
  flex: 1; }

.rightBox {
  flex: 2;
  flex-direction: column; }

.rightBoxTxt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left; }

.labelTitle {
  position: relative;
  text-align: left;
  left: 0px;
  font-size: 1.1rem;
  font-family: "Roboto-Bold", monospace; }

.labelTitle3 {
  position: relative;
  left: 0px;
  font-size: 1.1rem;
  top: 1.5rem; }

.labelText {
  left: 0px;
  font-size: .8rem;
  text-align: left;
  align-self: flex-start;
  font-family: "Roboto-Light", monospace; }

.labelTextA {
  left: 0px;
  font-size: .8rem;
  text-align: left;
  align-self: flex-start;
  margin-top: -5rem;
  font-family: "Roboto-Light", monospace; }

.page-mobile-content-dashboard {
  position: absolute;
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 1%;
  color: white; }

.mobile-content-dashboard {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 100%;
  height: 95%;
  overflow-y: scroll;
  background: linear-gradient(to bottom, #41B6E6, #00447C);
  border-radius: 25px;
  border-radius: 1rem;
  position: fixed;
  left: 0rem;
  top: 3rem; }

.centerImage {
  position: fixed;
  top: 11%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }
