// @Author: memo
// @Date:   2020-10-06T11:48:12-05:00
// @Last modified by:   memo
// @Last modified time: 2020-11-22T21:11:39-06:00

@import "./../styles/base.scss";

.page-content-dash{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  color:white;
  margin-top: 5rem;
  // background-color: yellow;
  /* bring your own prefixes */
  transform: translate(0%, -0%);
}

.page-mobile-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  color:white;
  margin-top: 50rem;
}

.mainWrapperLayout{
  background: linear-gradient(
    to bottom,
    $loginBlue,
    $fadeLower
  );
  border-radius: 25px;
  width: 80%;
  position: relative;
  margin: 0;
}
.mainWrapperLayoutDashboard{
  padding: 5%;
  background: linear-gradient(
    to bottom right,
    $loginButton,
    $fadeLower
  );
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color:white;
  font-size: 1.5rem;
  margin-top: 5.5rem;
}

.mainWrapperLayoutDashboard #topImage {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 45%;
  // top: -10%;
  transform: translate(-220%, -50%);
  width:15rem;

  @media (max-width: 768px) {
    height: 40%;
    width: 40%;
    top: 4%;
  }

}

.headerDashBoard{
  flex:1;
  display:flex;
  flex-direction: column;
  width: 80%;
  text-align:left;
  font-family: 'Replica'
  // background-color: red;
}

.headerDashBoard2-mobile{
  flex:1;
  display:flex;
  flex-direction: column;
  width: 90%;
  margin-top: 1rem;
}

.headerDashBoard-mobile{
  flex:1;
  display:flex;
  flex-direction: column;
  width: 90%;
  text-align:left;
  // background-color: red;
}

.header-text-mobile{
  font-size: 1.25rem;
  margin-top: 1rem;
  font-family: $bold;
}

.header-text-mobile2{
  font-size: 1.2rem;
  margin-top: 1rem;
  font-family: $bold;
}
.bodyDashboard{
  display:grid;
  flex-direction: column;
}

.cards {
  // max-width: 1100px;
  display:flex;
  align-items: flex-start;
  width: 100%;
  // margin: 0 auto;
  display: grid;
  // background-color: red;


  // grid-gap: 1rem;
  // grid-template-columns: [first] 40px [line2] 50px;
}

.cardsWeb{
  display:flex;
  align-items: flex-start;
  width: 100%;
  // background-color: green;
}

.card {
  // display: flex;
  // margin-top: 1rem;
  flex:1;
  color: white;
  padding: 1rem;
  align-self:left;
  // height: 4rem;
}

.cardWeb {
  // display: flex;
  // margin-top: 1rem;
  flex:1;
  color: white;
  padding: 1rem;
  // align-self:center
  // height: 4rem;
}

.card-2 {
    display: grid;
    width: 100%;
    margin: 0 auto;

    grid-template-columns: auto 1fr;
    // grid-template-rows: 80px auto auto 80px;
    // grid-gap: 10px;
    //
    // grid-template-areas:    "header"
    //                         "main"
    //                         "sidebar"
    //                         "footer";
}

@media (min-width: 600px) {
  .cards { grid-template-columns:
      repeat(auto-fit, minmax(500px, 1fr)); }

  // grid-template-columns:
  //   repeat(1, 10px [col-start] 250px [col-end]) 10px;
}

.page-content-dashboard{
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  // height: 2000px;
  // margin-top: 1rem;
  // padding: 5%;
  color:transparent;
}

.headerDashBoard2{
  flex:1;
  display:flex;
  flex-direction: column;
  width: 80%;
  margin-top: 1rem;
}


.mainWrapperMobileLayout{
  // margin: auto;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display:flex;
  @media (min-width: 768px) {
      min-height: 700px;
      height: 100%;
    }
  // background-color: #ffFF00;
}

.welcomeHome{
    // background-color: #ffFF00;
  // margin: 1%;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.welcomeHome2{
  font-size: 1rem;
  text-align:left;
  font-family: $light;
}

.lowerButtons{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  width: 100%;
}

.lowerButtons2{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;

}
.lowerButtons2-mobile{
    flex-direction: column;
}

.lowerButtonsTitle{
  display: flex;
  flex-direction: column;
  font-family: $bold;
  align-items: flex-start;

}

.buttonDashboard{
  display:flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content:flex-start;
  // background-color: red;
  width: 100%
}

.leftBoxDashboard{
    // background-color: yellow;
}


.rootDiv {
    display: flex;
    align-items: center;
}



.imageTop{
  top:2rem;
  position: absolute;
  left:9rem;
  width: 15rem;
}



.lowerButtons-mobile{
  display:flex;
  flex-direction: row;
}

.send-button {
  margin-left: 5rem;
  height: 3rem;
  // margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 10rem;;
  font-family: $code;
  transition: all 0.25s ease 0s;
  text-align:center;
  font-size: 0.75rem;
  // padding: 1rem;
  // padding-left: 1.5rem;
  // padding-right: 1.5rem

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}


.send-button-welcome {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 3rem;
  // margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 11rem;;
  font-family: $bold;
  transition: all 0.25s ease 0s;
  text-align:center;
  font-size: 0.75rem;
  // padding: 1rem;
  // padding-left: 1.5rem;
  // padding-right: 1.5rem

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}


.send-button-welcomeWeb {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 3rem;
  // margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 11rem;;
  font-family: $bold;
  transition: all 0.25s ease 0s;
  text-align:center;
  font-size: 0.75rem;
  align-items: flex-start;
    left:0rem;// padding: 1rem;
  // padding-left: 1.5rem;
  // padding-right: 1.5rem

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}


.fixButtonLeft{
  align-items: left
}


.contenido {
	display: inline-block;

  text-align: left;
  color: white;
  font-size: 1.2rem;
  // width: 100%;
}

.columnleft {
	float:left;
	// width: rem;
  keft:50%;
  padding-bottom: 3rem;
  justify-content: center;
  margin-top: 1rem;
}

.columnright {
  float:left;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 25rem;
  margin-left: 1rem;
  // background-color:blue;
}

.row-dashboard{
  display: flex;
  margin-top: 1rem;
  // background-color: green;
  width: 100%
}

.leftBox{
    flex:1;
}

.boxLabelTitle{

}

.rightBox{
    flex:2;
    flex-direction: column;
}

.rightBoxTxt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.labelTitle{
    position: relative;
    text-align: left;
    left:0px;
    font-size: 1.1rem;
    font-family: $bold;

    // margin-bottom: .8rem;
}

.labelTitle3{
    position: relative;
    left:0px;
    font-size: 1.1rem;
    top: 1.5rem;
}

.labelText{
    left:0px;
    font-size: .8rem;
    text-align:left;
    align-self:flex-start;
    font-family: $light;

}
.labelTextA{
  left:0px;
  font-size: .8rem;
  text-align:left;
  align-self:flex-start;
  margin-top:-5rem;
  font-family: $light;
}


.page-mobile-content-dashboard{
  position: absolute;
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 1%;
  color:white
}

.mobile-content-dashboard {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 100%;
  height: 95%;
  overflow-y: scroll;
  background: linear-gradient(
    to bottom,
    $loginButton,
    $fadeLower
  );
  border-radius: 25px;
  border-radius: 1rem;
  position: fixed;
  left:0rem;
  top:3rem;
  // top: 50%;
  // left: 50%;
  // /* bring your own prefixes */
  // transform: translate(-50%, -50%);
}


.centerImage{
  position: fixed;
  top: 11%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
