/**
 * @Author: memo
 * @Date:   2020-10-03T11:12:38-05:00
 * @Last modified by:   memo
 * @Last modified time: 2020-10-15T23:26:59-05:00
 */
.App {
  /* width: 100%;
  height: auto; */
  /* overflow: auto; */
  /* background-color: red; */
  /* background-image: url('/images/back.jpg'); */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

  /* margin: auto; */
  /* position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
