@charset "UTF-8";
@font-face {
  font-family: 'Replica';
  src: url("/fonts/ReplicaStdRegular.otf") format("opentype"); }

@font-face {
  font-family: 'ReplicaStdBold';
  src: url("/fonts/ReplicaStdBold.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Regular") url("/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: local("Roboto-Bold"), url("/fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-LightItalic';
  src: local("Roboto-LightItalic"), url("/fonts/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Light';
  src: local("Roboto-Light"), url("/fonts/Roboto-Light.ttf") format("truetype"); }

span.required {
  color: red;
  font-size: 1.1rem; }

body, html {
  font-family: "Roboto-Light", monospace;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  background-image: url("/images/back.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto'; }

.header-card {
  background: #2c3e50;
  border-radius: 14px;
  align-items: center;
  width: 50%;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-bottom: 2%;
  font-weight: bold; }

.header-card-activities {
  background: #2c3e50;
  border-radius: 14px;
  align-items: center;
  width: 80%;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-bottom: 2%; }

.header-card-text {
  align-self: ¡lex-start;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #fff; }

.box {
  width: 50%;
  height: 250px;
  background-color: #2c3e50;
  justify-content: center; }

.box-image-circular {
  width: 50%;
  height: 250px;
  background-color: #2c3e50;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 5%; }

.image-circular {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: #C8C9C7; }

.image-circular-min {
  height: 100%;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: #C8C9C7; }

.main-content {
  width: auto;
  background-color: transparent;
  font-weight: bold; }

.react-bootstrap-table-page-btns-ul {
  font-family: Roboto;
  font-size: 10px; }

.sign-out {
  font-family: 'Roboto'; }

.title-table {
  font-size: 1.52rem;
  font-family: "Roboto", monospace;
  background-color: #0071C3;
  color: #fff; }

.width-table {
  width: 30%;
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start; }

.custom-row-table {
  font-size: 1.25rem;
  font-family: "Roboto", monospace;
  align-self: flex-start; }

.width-table {
  width: 10; }

.button-blue-welcome {
  background-color: #0076CE;
  color: #fff;
  border-radius: 15px; }

.blink_me {
  animation: blinker 3s linear infinite;
  color: #2ecc71;
  font-size: 2.25rem;
  font-family: "Roboto", monospace; }

.success {
  margin-top: 0.5rem;
  color: #2ecc71;
  font-family: "Roboto", monospace;
  font-size: 1.8rem; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fffbe3; }

body {
  font-family: 'Roboto'; }

* {
  box-sizing: border-box; }

input {
  background-color: #fff; }

input:invalid:required {
  background-color: #FFC220; }

input:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% #FFC220;
  background-size: 18px;
  background-color: #C8C9C7; }

input:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

input:invalid {
  background-color: #FFC220; }

textarea::required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

textarea:invalid {
  background-color: #FFC220; }

textarea:required:focus:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% lightgreen;
  background-size: 18px; }

textarea:focus:invalid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/warning.svg") no-repeat 95% 50% #FFC220;
  background-size: 18px; }

input:required:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/ok.svg") no-repeat 95% 50% #FFC220;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-color: #C8C9C7;
  text-align: center; }

textarea:valid {
  background: url("https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/check.svg") no-repeat 95% 50% #FFC220;
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-color: #C8C9C7;
  text-align: center;
  border-radius: .5rem; }

.comboValid {
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem; }

.comboInvalid {
  width: 100%;
  font-family: 'Roboto';
  font-size: 1.5rem; }

iframe {
  background: #000;
  border: none;
  /* Reset default border */
  height: 90vh;
  /* Viewport-relative units */
  width: 90vw; }

.avatarItem {
  display: flex;
  width: 13rem; }
  @media (min-width: 768px) {
    .avatarItem {
      margin-left: 0rem; } }

.avatarItemFixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem; }
  @media (min-width: 768px) {
    .avatarItemFixed {
      margin-left: 0rem; } }

.avatarBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  width: 10%; }

.leftBox {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center; }

.leftBoxMobile {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center; }

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", monospace;
  text-align: center; }
  .mainBox a {
    width: 100px;
    padding: 1rem;
    color: #fff;
    background: #fc466b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f5efb, #fc466b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0.5rem;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0);
    transition: all 0.25s ease 0s; }
    .mainBox a:hover {
      opacity: 0.9;
      transition: all 0.25s ease 0s;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }

@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-10px); }
  100% {
    transform: translatey(0px); } }
  .mainBox p:nth-of-type(2) {
    font-size: 12px; }

.input-error {
  margin-top: 0.5rem;
  color: #E5162F;
  font-family: "Roboto", monospace;
  font-size: 14px; }

.page-content {
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  color: transparent; }

.page-mobile-content {
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
  padding: 5%;
  color: #C8C9C7; }

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }

.button-blue {
  margin-top: 1rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  text-align: justify;
  font-size: 0.75rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem .button-blue; }
  .button-blue :hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.mainWrapperLayout {
  padding: 10%;
  background: linear-gradient(to bottom, #0076CE, #00447C);
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: white;
  font-size: 1.5rem; }

.mainWrapperMobileLayout {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; }
  @media (min-width: 768px) {
    .mainWrapperMobileLayout {
      min-height: 700px;
      height: 100%; } }

.dashboardButton {
  left: -10px; }

.imageDell {
  width: 40%; }

.imageDell img2 {
  width: 100%;
  background-color: #00FF00; }

.imageVmware {
  width: 30%; }

.imgDell {
  width: 100%; }

.itemMenu {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: .5rem; }

loginWrapper {
  width: 100%;
  background-image: 'images/back.jpg'; }

.base-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #0076CE;
  background-image: url("/images/back.jpg");
  background-repeat: no-repeat;
  opacity: 1;
  background-size: cover; }

.base-wrapper-fixed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #0076CE;
  opacity: 1;
  width: 1024px; }

.imgMall {
  width: 40%;
  align-self: center; }

.auth-header {
  color: #041E42;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto-Light", monospace;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff; }

.demo {
  font-size: 14px;
  margin-top: -0.25rem;
  text-align: center;
  width: 300px;
  line-height: 1.25rem; }

.code-mail {
  font-family: "Roboto", monospace; }
  .code-mail:hover {
    cursor: pointer;
    color: #0071C3; }

.auth-form {
  width: 60%;
  background: linear-gradient(to bottom right, #41B6E6, #00447C);
  border: 1px solid #C8C9C7;
  padding: 2rem;
  border-radius: 25px;
  z-index: 1000; }

.auth-form-web {
  width: 60%;
  background: linear-gradient(to bottom right, #41B6E6, #00447C);
  border: 1px solid #C8C9C7;
  padding: 2rem;
  border-radius: 25px;
  z-index: 1000; }

#forgotPswd {
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto-Light", monospace;
  align-self: center; }

#pleca {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  align-self: center; }
  @media (min-width: 768px) {
    #pleca {
      width: 15rem; } }

#plecaProcess {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  align-self: center; }
  @media (min-width: 768px) {
    #plecaProcess {
      width: 15rem; } }

.auth-group {
  margin-bottom: 1rem;
  font-family: Roboto-Bold;
  font-size: 2rem;
  border-radius: 25px; }

.auth-label {
  width: 100%;
  padding-right: 2rem;
  margin-bottom: 0.75rem;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", monospace; }

.auth-input {
  text-align: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  line-height: 1.5em;
  outline: 0;
  transition: all 0.25s ease 0s;
  font-size: 1rem;
  padding: 0 1rem;
  font-family: "Roboto-LightItalic", monospace; }
  .auth-input:hover {
    border-color: #C8C9C7;
    transition: all 0.25s ease 0s; }
  .auth-input:focus {
    border-color: #0071C3;
    transition: all 0.25s ease 0s; }

.auth-error {
  display: grid;
  margin-top: 0.5rem;
  color: #FFC220;
  font-family: "Roboto", monospace;
  font-size: 14px;
  align-self: center;
  justify-content: center; }

.color-transparent {
  color: transparent; }

.auth-button {
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: #41B6E6;
  border-color: #41B6E6;
  border-radius: 10px;
  width: 100%;
  font-size: 1.3rem;
  font-family: "Roboto-Bold", monospace;
  transition: all 0.25s ease 0s; }
  .auth-button:hover {
    background-color: #0076CE;
    border-color: #0076CE;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s; }

.bottom-group {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }

.link {
  background-color: #fafafa;
  color: #616161;
  text-decoration: none;
  font-family: "Roboto", monospace;
  transition: all 0.25s ease 0s;
  padding: 0.25rem; }
  .link:hover {
    color: #0071C3;
    transform: translateY(-2.5px);
    transition: all 0.25s ease 0s; }

@media (max-width: 800px) {
  .bottom-group {
    flex-direction: column;
    padding-left: 0px; }
  .link {
    margin: 0.25rem 0; }
  .auth-form {
    width: 100%; }
  .bottom-group {
    text-align: center; } }

@media (max-width: 550px) {
  .base-wrapper {
    background-size: cover; } }

.div-fixed {
  z-index: 20000;
  background-color: green;
  width: "1000px"; }
  @media (max-width: 550px) {
    .div-fixed {
      text-align: center; } }

.div1 {
  display: flex;
  flex: 2;
  flex-direction: row;
  background: linear-gradient(to bottom right, #41B6E6, #00447C);
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 5rem; }

.div1-1 {
  display: flex;
  position: absolute;
  left: -140px;
  flex: 1;
  flex-direction: row;
  height: 30%;
  width: 70%;
  align-items: center;
  justify-content: center; }

.div1-2 {
  display: flex;
  background-color: red;
  left: -140px;
  flex: 1;
  flex-direction: row;
  height: 40%;
  align-items: center;
  justify-content: center;
  opacity: 0; }

.div2 {
  flex: 2.2;
  z-index: 20000; }
  @media (max-width: 550px) {
    .div2 {
      text-align: center; } }

.div2-web {
  position: absolute;
  right: 10px;
  flex: 2.2;
  z-index: 20000;
  width: 820px;
  justify-content: flex-end; }
  @media (max-width: 550px) {
    .div2-web {
      text-align: center; } }

.contenedor {
  display: grid;
  text-align: center;
  justify-content: center;
  background: -webkit-linear-gradient(to right, #0076CE, #00447C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0076CE, #00447C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1.5rem; }

.contenido {
  display: inline-block;
  text-align: left;
  color: white;
  font-size: 1.2rem; }

.contenedorbody {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .8rem;
  justify-content: center;
  text-align: center; }

.title-process {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-family: "Roboto-Light", monospace;
  justify-content: center;
  text-align: center; }

.columnleft {
  display: flex;
  flex-direction: column;
  align-self: center;
  float: left;
  width: 16rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem; }

.columnright {
  align-self: center;
  justify-content: center;
  float: left;
  width: 16rem;
  padding-top: 4rem;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 5px; }

.columnright-mobile {
  align-self: center;
  justify-content: center;
  float: left;
  width: 16rem;
  margin-left: 5px; }

.fix-pleca {
  align-self: center; }

.columnrightProcess {
  float: left;
  width: 16rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 02rem; }
  @media (min-width: 768px) {
    .columnrightProcess {
      padding-top: 4rem; } }

.registerPwd {
  padding-left: 15px;
  padding-right: 15px;
  align-self: center; }

.activationConfirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem; }

.ready-text {
  font-size: 1.2rem;
  margin-bottom: 1rem; }

.confirmTitle {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  justify-content: center;
  text-align: justify; }

.headerLoginMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
