// @Author: memo
// @Date:   2020-10-15T13:59:30-05:00
// @Last modified by:   memo
// @Last modified time: 2020-11-12T13:32:32-06:00



@import "./../styles/base.scss";

loginWrapper{
  width: 100%;
  background-image: 'images/back.jpg';
}

.base-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background:$loginBlue;
  background-image: url('/images/back.jpg');
  background-repeat: no-repeat;
  opacity: 1;
  //background-size: contain;
  background-size: cover;

}

.base-wrapper-fixed{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background:$loginBlue;
  opacity: 1;
  width: 1024px
}


.imgMall{
  // width:5px;
  // height:600px
  width:40%;
  // height:15%;
  align-self:center;
}

.auth-header {
  color: $black;
  // background-color: $white;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: $light;
  text-align: center;
  margin-bottom: 1rem;
  // font-weight: $bold;
  color:$white;
}

.demo {
  font-size: 14px;
  margin-top: -0.25rem;
  text-align: center;
  width: 300px;
  line-height: 1.25rem;
}

.code-mail {
  font-family: $code;

  &:hover {
    cursor: pointer;
    color: $primaryBlue;
  }
}

.auth-form {
  width: 60%;
  //background-color: $loginBlue;
  background: linear-gradient(
    to bottom right,
    $loginButton,
    $fadeLower
  );
  border: 1px solid $gray;
  padding: 2rem;
  border-radius: 25px;
  z-index: 1000;
}

.auth-form-web {
  width: 60%;
  //background-color: $loginBlue;
  background: linear-gradient(
    to bottom right,
    $loginButton,
    $fadeLower
  );
  border: 1px solid $gray;
  padding: 2rem;
  border-radius: 25px;
  z-index: 1000;
  // justify-content: flex-end;
}


#forgotPswd{
  color:$white;
  font-size:1rem;
  font-family: $light;
  align-self:center;
}

#pleca{
  display: flex;
  justify-content: center;
  align-items: center;
  width:20rem;
  align-self: center;
  @media (min-width: 768px) {
    width:15rem;
  }
}

#plecaProcess{
  display: flex;
  justify-content: center;
  align-items: center;
  width:20rem;
  align-self: center;
  @media (min-width: 768px) {
    width:15rem;
  }
}

.auth-group {
  margin-bottom: 1rem;
  font-family: Roboto-Bold;
  font-size:2rem;
  border-radius: 25px;
}

.auth-label {
  width: 100%;
  padding-right: 2rem;
  margin-bottom: 0.75rem;
  font-size: 14px;
  color: $white;
  font-family: $code;
}

.auth-input {
  text-align:center;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  line-height: 1.5em;
  outline: 0;
  transition: all 0.25s ease 0s;
  font-size: 1rem;
  padding: 0 1rem;
  font-family: $lightItalic;
  // font: 'Roboto-LightItalic',
  &:hover {
    border-color: $gray;
    transition: all 0.25s ease 0s;
  }

  &:focus {
    border-color: $primaryBlue;
    transition: all 0.25s ease 0s;
  }
}

.auth-error {
  display:grid;
  margin-top: 0.5rem;
  color: $yellow;
  font-family: $code;
  font-size: 14px;
  align-self:center;
  justify-content: center;
}

.color-transparent{
  color:transparent
}

.auth-button {
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: $loginButton;
  border-color: $loginButton;
  border-radius: 10px;
  width: 100%;
  font-size: 1.3rem;
  font-family: $bold;
  transition: all 0.25s ease 0s;

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}

.bottom-group {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.link {
  background-color: $lighterGray;
  color: $darkGray;
  text-decoration: none;
  font-family: $code;
  transition: all 0.25s ease 0s;
  padding: 0.25rem;

  &:hover {
    color: $primaryBlue;
    transform: translateY(-2.5px);
    transition: all 0.25s ease 0s;
  }
}

@media (max-width: 800px) {
  .bottom-group {
    flex-direction: column;
    padding-left: 0px;
  }

  .link {
    margin: 0.25rem 0;
  }

  .auth-form {
    width: 100%;
  }

  .bottom-group {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .base-wrapper {
    background-size: cover;
  }
}

.div-fixed{
  // flex:10;
  z-index: 20000;
  background-color: green;
  width: "1000px";
  @media (max-width: 550px) {
    text-align: center;
  }
}

.div1{
  display:flex;
  flex:2;
  flex-direction: row;
  background: linear-gradient(
    to bottom right,
    $loginButton,
    $fadeLower
  );
  height: auto;
  align-items: center;
  justify-content: center;
  padding:5rem;
}

.div1-1{
  display:flex;
  position: absolute;
  left: -140px;
  flex:1;
  flex-direction: row;
  height: 30%;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.div1-2{
  display:flex;
  background-color: red;
  // position: absolute;
  left: -140px;
  flex:1;
  flex-direction: row;
  height: 40%;
  align-items: center;
  justify-content: center;
  opacity: 0;
}


.div2{
  flex:2.2;
  z-index: 20000;
  @media (max-width: 550px) {
    text-align: center;
  }
}


.div2-web{
  position: absolute;
  right:10px;
  flex:2.2;
  z-index: 20000;
  width: 820px;
  justify-content: flex-end;
  // background-color: green;
  @media (max-width: 550px) {
    text-align: center;
  }
}



.contenedor {
  display: grid;
  text-align: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    to right,
    $loginBlue,
    $fadeLower,
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $loginBlue,
    $fadeLower,
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1.5rem;

}

.contenido {
	display: inline-block;
  text-align: left;
  color: white;
  font-size: 1.2rem;
}
.contenedorbody{
  // padding-top: 5rem !important;
  padding-right: 3rem !important;
  // padding-bottom: 5rem !important;
  padding-left: 3rem!important;
}

.title{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .8rem;
  justify-content: center;
  text-align: center;
}

.title-process{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-family: $light;
  justify-content: center;
  text-align: center;
}

.columnleft {
  display: flex;
  flex-direction: column;
  align-self: center;
	float:left;
	width: 16rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  // background-color: red
}

.columnright {
  align-self: center;
  justify-content: center;
  float: left;
	width: 16rem;
	padding-top: 4rem;
	padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  // background-color: red;
}

.columnright-mobile {
  align-self: center;
  justify-content: center;
  float: left;
	width: 16rem;
  margin-left: 5px;
  // background-color: red;

}

.fix-pleca{
    align-self:center
}

.columnrightProcess {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-self: center;
  float: left;
	width: 16rem;
	// padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  // margin-left: 1rem;
  // background-color: red;
  @media (min-width: 768px) {
    padding-top: 4rem;
  }
  margin-bottom: 02rem;
}

.registerPwd{
  padding-left: 15px;
  padding-right: 15px;
  align-self: center;
}


.activationConfirm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem
}

.ready-text{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.confirmTitle{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  justify-content:center;
  text-align:justify;
}

.headerLoginMobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 90%;
}
