@import "./../styles/base.scss";

body{
	margin:0;
	// color:$loginButton;
	// background:#c8c8c8;
	font:600 14px/18px 'Open Sans',sans-serif;
  // font-size: 1px;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
.body-login{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://sfo2.digitaloceanspaces.com/juguetilandia.media/icons/images/login/ball.jpg');
  background-repeat: no-repeat;
  opacity: 0.75;
  background-size: cover;
}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:500px;
	min-height:700px;
	position:relative;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
  //background-image: linear-gradient(to bottom right, $loginBlue, $loginButton);
background: linear-gradient(
    to bottom right,
    rgba(0,212,255,1) 0%,
    rgba(9,9,121,1) 100%,
    rgba(2,0,36,1) 10%);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .5s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
  font-size: 1px
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
	border-width: 5px
	// border-color:#ff0000;

}

.login-img{
	display: flex;
	position: relative;
	z-index: 10;
	top:25rem;
	justify-content: center;
	align-self: center;
	// max-width: 90px;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:5px;
	// background:rgba(255,255,255,.1);
  color:#000000
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:white;
	font-size:1.5rem;
  // align-self: flex-start;
}
.login-form .group .button{
	background:$loginButton;
  color:$white
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
